<template>
  <div class="navbar">
    <div class="menu-container">
      <button
        class="menu-button"
        v-for="(userAnswer, index) in userAnswersByUser"
        :key="userAnswer.question.id"
        @click="navigateToCard(index)"
      >
        <div
          :class="{
            circle: true,
            'question-answered': userAnswer.status,
            active: userAnswer.question.id === activeCardId,
          }"
        />
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "Navbar",
  props: ["userAnswersByUser", "activeCardId"],
  data() {
    return {}
  },
  methods: {
    navigateToCard(index) {
      this.$emit("navigate", index)
    },
  },
}
</script>

<style scoped lang="scss">
.navbar {
  z-index: 500;
  display: flex;
  justify-content: center;
  position: absolute;
  height: 40px;
  width: 100vw;
  max-width: 100%;
  background: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);

  .menu-container {
    display: flex;
    width: 90%;
    // flex: 1 1 auto;
    justify-content: space-between;
    align-items: center;
  }
}

.menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.75rem;
  width: 1rem;
}

.circle {
  background: #e2e2e2;
  border-radius: 50%;
  width: 6px;
  height: 6px;
}

// .fa:hover {
//   color: var(--primary-color);
// }

.question-answered {
  background: var(--primary-color);
}

.active {
  background: var(--secundary-color);
  width: 10px;
  height: 10px;
}
</style>
