<template>
  <div class="iframe-container">
    <iframe :src="url"></iframe>
  </div>
</template>

<script>
export default {
  name: "i-frame",
  computed: {
    url() {
      return window.location.href
    },
  },
}
</script>

<style lang="scss" scoped>
.iframe-container {
  background: #f5f5f5;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;

  iframe {
    background: #fff;
    border-radius: 6px;
    border: none;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    width: 320px;
    height: 550px;
  }
}

.desktop-warning-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.desktop-warning-icon {
  margin-top: 25vh;
  font-size: 6rem;
}

.desktop-warning-text {
  padding-top: -1rem;
  font-size: 1rem;
}
</style>
