<template>
  <div class="hint">
    <span v-html="hintStore.hints[contentType]" class="hint-content"></span>
  </div>
</template>

<script>
import { mapStores } from "pinia"
import { useHintStore } from "@/stores/hints"

export default {
  name: "Hint",
  components: {},
  props: {
    contentType: {
      type: String,
      required: true,
      validator: (propValue) => {
        let validTypes = [
          "impress",
          "email-usage",
          "end-action-send-mail",
          "end-action-redirect",
          "end-action-back",
        ]
        return validTypes.includes(propValue)
      },
    },
  },
  computed: {
    ...mapStores(useHintStore),
  },
  methods: {},
}
</script>

<style lang="scss" scoped>
.hint {
  line-height: 1.3;
  font-size: 0.95rem;
  margin: -0.5rem 0 1rem 0;
  max-width: 400px;
}

.hint-content p {
  margin-top: 0;
}

.hint-content p:last-of-type {
  margin: 0;
}
</style>
