<template>
  <div class="impress-pricacy-container">
    <h2>Impressum</h2>
    <div v-html="askitImpress"></div>

    <h2>Datenschutz</h2>
    <div v-html="askitPrivacyPolicy"></div>
    <div v-if="askitPrivacyTopics.length > 0">
      <h3>Datenschutzbestimmungen</h3>
      <div v-for="topic in askitPrivacyTopics.reverse()">
        <h4>{{ topic.title }}</h4>
        <div v-html="topic.content"></div>
      </div>
    </div>
  </div>
</template>

<script>
import { populateImpressPrivacy } from "@/api/impressPrivacy/populateImpressPrivacy"

export default {
  name: "ImpressPrivacy",
  data() {
    return {
      askitImpress: "",
      askitPrivacyPolicy: "",
      askitPrivacyTopics: [],
    }
  },
  mounted() {
    populateImpressPrivacy(this)
  },
  methods: {},
}
</script>

<style lang="scss" scoped>
.impress-pricacy-container {
  margin: -2rem 1rem 0 1rem;
  padding-right: 5rem;
  height: 70vh;
  line-height: 1.5 !important;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  /deep/ a {
    text-decoration: underline;
  }
}

.term-description {
  font-weight: 500;
  margin-top: 1rem;
}
</style>
