<template>
  <div>
    <div>
      <div class="counter">
        <i class="el-icon-user"></i>
        Teilnehmende:
        <span
          :class="{
            'counter-num': true,
            'participants-low': pollStore.participantLimitAt(80),
            'participants-full': pollStore.participantLimitAt(100),
          }"
        >
          <i
            v-if="pollStore.participantLimitAt(80)"
            style="margin-right: 4px"
            class="el-icon-warning"
          ></i>
          {{ poll.pollParticipantsCounter }}</span
        ><span v-if="showMax">/{{ tierStore.tier.participantsAmount }}</span>
      </div>
      <div
        :class="{
          counter: true,
          'no-email-entries': !poll.pollSuccessEmailsCounter,
        }"
      >
        <i class="el-icon-message"></i>

        E-Mail-Adressen:
        <span class="counter-num">{{ poll.pollSuccessEmailsCounter }}</span>
      </div>
    </div>
  </div>
</template>

<script>
import { mapStores } from "pinia"
import { usePollStore } from "@/stores/polls"

export default {
  name: "ParticipantCounters",
  props: {
    poll: {
      type: Object,
      required: true,
    },
    showMax: {
      type: Boolean,
      default: false,
    },
  },
  computed: {
    ...mapStores(usePollStore),
  },
}
</script>

<style lang="scss" scoped>
.counter {
  font-size: 15px;
  min-width: 200px;
  max-width: 200px;
  display: flex;
  align-items: center;
  margin: 0 0 10px 0;

  i {
    font-size: 1rem;
    margin-right: 8px;
    font-weight: 600;
  }
}

.counter-num {
  font-weight: 500;
  margin-left: 0.25rem;
}

.no-email-entries {
  color: transparent;
}
</style>
