<template>
  <div class="wrapper">
    <div @click="qrCodeToPNG(pollCode)" class="qrcode">
      <i class="el-icon-s-grid"></i>
      QR Code
    </div>
    <QrcodeVue
      v-show="false"
      :value="rootUrl + pollCode"
      :size="1000"
      level="H"
      :class="'qrcode-' + pollCode"
    />
  </div>
</template>

<script>
import qrCodeToPNG from "@/utils/qr-code.js"

import QrcodeVue from "qrcode.vue"

export default {
  name: "QrCodeButton",
  props: {
    pollCode: {
      type: String,
      required: true,
      default: "",
    },
  },
  components: { QrcodeVue },
  computed: {
    rootUrl() {
      return process.env.VUE_APP_URL
    },
  },
  methods: {
    qrCodeToPNG(pollCode) {
      qrCodeToPNG(pollCode)
    },
  },
}
</script>

<style lang="scss" scoped>
.qrcode {
  display: flex;
  align-items: center;
  min-width: 100%;
  height: 42px;
  border-radius: 2px;
  font-size: 15px;
  cursor: pointer;
  padding-left: 10px;

  &:hover {
    color: #fff;
    background: var(--secundary-color);
    font-weight: 600;
  }

  i {
    font-size: 1rem;
    margin-right: 8px;
    font-weight: 600;
  }
}

.wrapper {
  width: 100%;
}
</style>
