<template>
  <div class="rich-text-editor">
    <vue-editor
      class="vue-editor"
      :ref="name"
      v-bind:useCustomImageHandler="allowImages"
      ref="editor"
      v-on="eventListeners"
      :value="value"
      :editorToolbar="editorToolbar"
      :placeholder="placeholder"
    />
    <button v-show="allowImages" @click="openImageManger" class="add-image-button">
      Bild
      <i class="add-image-icon el-icon-picture" />
    </button>
    <div v-show="maxLength < 10000" class="character-counter">
      {{ inputLength }}/{{ maxLength }}
    </div>
    <ValidationWarning v-show="showMaxImgMsg" class="max-img-msg">
      {{ maxImgCount > 1 ? `max. ${maxImgCount} Bilder` : `max. ${maxImgCount} Bild` }}
    </ValidationWarning>
  </div>
</template>

<script>
import { bus } from "@/components/TheMediaManager/mediaManagerBus"
import { VueEditor } from "vue2-editor"

import { mapStores } from "pinia"
import { useAppStore } from "@/stores/app"

import ValidationWarning from "@/components/ValidationWarning"

export default {
  name: "RichTextEditor",
  components: {
    VueEditor,
    ValidationWarning,
  },
  inheritAttrs: false,
  props: {
    name: {
      type: String,
      required: true,
    },
    value: {
      type: String,
      required: true,
    },
    allowImages: {
      type: Boolean,
      default: false,
    },
    editorToolbar: {
      type: Array,
      required: true,
    },
    maxLength: {
      type: Number,
      default: 10000,
      required: false,
    },
    maxImgCount: {
      type: Number,
      default: 2,
      required: false,
    },
    placeholder: {
      type: String,
      required: false,
    },
  },
  data() {
    return {
      showMaxImgMsg: false,
      inputLength: 0,
    }
  },
  computed: {
    ...mapStores(useAppStore),
    eventListeners() {
      var vm = this
      // `Object.assign` merges objects together to form a new object
      return Object.assign(
        {},
        // We add all the listeners from the parent
        this.$listeners,
        // Then we can add custom listeners or override the
        // behavior of some listeners.
        {
          // This ensures that the component works with v-model
          input: (value) => {
            this.showMaxImgMsg = false
            const quill = vm.$refs[vm.name].quill
            vm.inputLength = quill.getLength() - 1
            vm.$emit("input", value)

            if (vm.inputLength > vm.maxLength) {
              quill.deleteText(vm.maxLength, vm.inputLength)
            }
          },
          keyup: (event) => {
            vm.$emit("keyup", value)
          },
          focused: (event) => {
            vm.$emit("focused", value)
          },
        }
      )
    },
  },
  methods: {
    openImageManger() {
      this.appStore.toggleMediaManager({ context: this.name, card: null })
    },
  },
  created() {
    bus.$on(`media-manager-confirm-image-${this.name}`, (url) => {
      let Editor = this.$refs[this.name].quill

      let cursorLocation = Editor.selection.savedRange.index

      let imageCounter = Editor.root.innerHTML.match(/<img/g)
        ? Editor.root.innerHTML.match(/<img/g).length
        : 0
      if (imageCounter < this.maxImgCount) {
        Editor.insertEmbed(cursorLocation, "image", url)

        // Doesn't work because Django Rich-Text-Field deletes style attributes
        // let imageNodes = Editor.root.getElementsByTagName('img')
        // imageNodes.forEach((img) => {
        //   img.setAttribute("style", "max-width:200px");
        // })
      } else {
        this.showMaxImgMsg = true
      }
      this.appStore.toggleMediaManager({ context: null, card: null })
    })
  },
}
</script>

<style lang="scss" scoped>
.rich-text-editor {
  position: relative;
  height: auto;
  width: 100%;
}

/deep/ .ql-toolbar.ql-snow {
  max-height: 48px !important;
}

.character-counter {
  position: absolute;
  color: #909399;
  bottom: 0.5rem;
  right: 0.5rem;
  font-size: 12px;
  line-height: 1;
}

.max-img-msg {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  font-size: 14px !important;
  line-height: 1;
}

.add-image-button {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 100;
  top: 12px;
  right: 12px;
  font-size: 0.9rem;
  cursor: pointer;

  &:hover {
    color: rgb(0, 102, 204);
  }

  .add-image-icon {
    margin-left: 4px;
    font-size: 1.5rem;
  }
}
</style>

<!-- Quill Editor styles override -->
<style lang="scss">
.ql-editor {
  min-height: 120px !important;
  padding-bottom: 2rem !important;
}

.ql-toolbar {
  border-radius: 6px 6px 0 0 !important;
  background: #f5f7fa !important;
}

.ql-formats {
  button {
    font-size: 1.2rem;
    margin-left: 2px;
    color: transparent;
    text-shadow: 0 0 0.75px #000;
    font-weight: semibold;
    justify-content: center;
    align-items: center;
  }
}

.ql-container {
  border-radius: 0 0 6px 6px !important;

  img {
    max-width: 240px !important;
  }
}

.ql-tooltip {
  left: 11px !important;

  &::before {
    content: "Link URL:" !important;
  }

  .ql-action::after {
    content: "Speichern" !important;
  }

  .ql-remove::before {
    content: "Entfernen" !important;
  }
}
</style>
