<template>
  <div class="validation-warning">
    <i class="el-icon-warning"></i>
    <slot />
  </div>
</template>

<script>
export default {
  name: "ValidationWarning",
}
</script>

<style lang="scss" scoped>
.validation-warning {
  line-height: 2;
  font-size: 0.9rem;
  font-weight: 400;
  color: #f56c6c;
}
</style>
