<template>
  <div>
    <el-button
      @click="handleMergeNgrams"
      :disabled="disableMergeBtn"
      class="ngrams-button"
      size="medium"
      icon="el-icon-connection"
      >Wörter zusammenführen</el-button
    >
    <el-dialog
      :visible.sync="showMergeNgramsDialog"
      title="Auswahl zusammenführen"
      @open="mergedNgramForm.string = ''"
      append-to-body
    >
      <el-table
        max-height="500"
        :data="wordcloudStore.selectedNgrams"
        border
        fit
        size="medium"
        style="width: 100%"
      >
        <el-table-column min-width="2" prop="string" label="Wort" />
        <el-table-column min-width="1" prop="count" label="Häufigkeit" />
      </el-table>

      <!-- Form -->
      <br />
      <el-form
        ref="mergeNgramsForm"
        :rules="rules"
        :model="mergedNgramForm"
        label-position="right"
        style="width: 100%; display: flex; align-items: space-around"
      >
        <el-form-item style="flex: 2" prop="string">
          <span>Neue Bezeichnung</span>
          <el-input
            maxlength="20"
            ref="mergedNgramString"
            v-model="mergedNgramForm.string"
            placeholder
            size="medium"
          ></el-input>
        </el-form-item>
        <el-form-item style="flex: 1">
          <span>Anzahl Summe</span>
          <el-input maxlength="4" disabled v-model="mergedNgramForm.count" size="medium"></el-input>
        </el-form-item>
      </el-form>

      <!-- Form -->
      <span slot="footer" class="dialog-footer">
        <el-button
          :disabled="!mergedNgramForm.string"
          size="medium"
          type="primary"
          icon="el-icon-connection"
          @click="mergeNgrams"
          >Wörter zusammenführen</el-button
        >
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapStores } from "pinia"

import { useWordcloudStore } from "@/stores/wordcloud"

export default {
  name: "TheWordcloudEditorMerge",
  components: {},
  data() {
    return {
      showMergeNgramsDialog: false,
      mergedNgramForm: { string: "", count: 0 },
      rules: {
        string: [
          {
            required: true,
            message: "Neue Bezeichnung erforderlich",
            trigger: "blur",
          },
        ],
      },
    }
  },
  computed: {
    ...mapStores(useWordcloudStore),

    disableMergeBtn() {
      if (this.wordcloudStore.selectedNgrams.length > 1) {
        return false
      }
      return true
    },
  },
  methods: {
    handleMergeNgrams() {
      this.showMergeNgramsDialog = true
      setTimeout(() => this.$refs["mergedNgramString"].focus(), 100)

      let mergedCount = 0
      this.wordcloudStore.selectedNgrams.forEach((selectedNgram) => {
        // Add up count of merged bigrams
        mergedCount += parseInt(selectedNgram.count)
      })
      this.mergedNgramForm.count = mergedCount
      this.$nextTick(() => {
        this.$refs["mergeNgramsForm"].clearValidate()
      })
    },

    mergeNgrams() {
      this.$refs["mergeNgramsForm"].validate((valid) => {
        if (valid) {
          this.wordcloudStore.selectedNgrams.forEach((selectedNgram) => {
            // Delete merged ngrams from table
            this.wordcloudStore.ngrams.forEach((ngram, index) => {
              if (Object.is(selectedNgram, ngram)) {
                this.wordcloudStore.ngrams.splice(index, 1)
              }
            })
          })
          this.wordcloudStore.ngrams.push({
            string: this.mergedNgramForm.string,
            originalString: this.mergedNgramForm.string,
            count: this.mergedNgramForm.count,
            originalCount: this.mergedNgramForm.count,
            stringEdit: false,
            countEdit: false,
          })
          this.showMergeNgramsDialog = false
          this.$message({
            message: "Auswahl zusammengeführt",
            showClose: true,
            duration: 1000,
            type: "success",
          })
        }
      })
    },
  },
}
</script>

<style lang="scss" scoped></style>
