<template>
  <div class="startscreen-container">
    <div class="startscreen-edit">
      <RichTextEditor
        name="startscreen"
        allowImages
        :maxImgCount="1"
        v-model="startscreenEditor"
        :editorToolbar="startscreenToolbar"
        :maxLength="180"
      />
    </div>
    <div class="startscreen-preview">
      <h3>Vorschau</h3>
      <div class="startscreen-preview-outer">
        <StartscreenContent :content="pollStore.activePoll.pollStartscreen" />

        <BaseButton class="startscreen-preview-btn" style="margin-top: 0.5rem">
          Umfrage starten</BaseButton
        >
        <span class="link">Impressum | Datenschutz</span>
      </div>
    </div>
  </div>
</template>

<script>
import { VueEditor } from "vue2-editor"

import { mapStores } from "pinia"
import { usePollStore } from "@/stores/polls"

import { StartscreenContent } from "vue-shared"
import RichTextEditor from "@/components/RichTextEditor"

export default {
  name: "Startscreen",
  components: {
    VueEditor,
    StartscreenContent,
    RichTextEditor,
  },
  data() {
    return {
      startscreenEditor: "",
      startscreenToolbar: [
        [{ header: 1 }, { header: 2 }],
        ["bold", "italic"],
        ["link"],
        [{ script: "super" }],
      ],
      dialogImageManager: false,
    }
  },
  computed: {
    ...mapStores(usePollStore),
    concatedHTML() {
      return `<div id="startscreen">${this.startscreenEditor}</div>`
    },
  },
  watch: {
    concatedHTML() {
      this.pollStore.activePoll.pollStartscreen = `<div id="startscreen">${this.startscreenEditor}</div>`
    },
  },
  mounted() {
    let startscreenDOM = new DOMParser().parseFromString(
      this.pollStore.activePoll.pollStartscreen.replace(/[\n\r]/g, ""),
      "text/html"
    )
    if (startscreenDOM.getElementById("startscreen")) {
      this.startscreenEditor = startscreenDOM.getElementById("startscreen").innerHTML
    }
  },
}
// let defaultToolbar = [
//   [{ header: [false, 1, 2, 3, 4, 5, 6] }],
//   ["bold", "italic", "underline", "strike"], // toggled buttons
//   [
//     { align: "" },
//     { align: "center" },
//     { align: "right" },
//     { align: "justify" }
//   ],
//   [{ header: 1 }, { header: 2 }],
//   ["blockquote", "code-block"],
//   [{ list: "ordered" }, { list: "bullet" }, { list: "check" }],
//   [{ indent: "-1" }, { indent: "+1" }], // outdent/indent
//   [{ color: [] }, { background: [] }], // dropdown with defaults from theme
//   ["link", "image", "video"],
//   ["clean"] // remove formatting button
// ];
</script>

<style lang="scss" scoped>
@import "~@/styles/variables.scss";

.startscreen-container {
  display: flex;
  align-items: flex-start;

  margin-top: 1rem;
  flex-wrap: wrap;
}

.startscreen-edit {
  position: relative;
  flex: 1;
  justify-content: center;
  min-width: 260px;
  max-width: 400px;
  // margin-bottom: 2rem;
}

.startscreen-preview {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 320px;
  margin: -2.5rem 0 1rem 1rem;
  word-break: normal;
  z-index: 50;
}

.startscreen-preview-outer {
  min-height: 450px;
  max-height: 500px;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secundary-color);
  border-radius: 10px;
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.15);
  margin-top: -0.25rem;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem 2rem 1rem;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }
}

.startscreen-preview-btn {
  background: white;
  color: var(--text-color);
  font-size: 1rem;
}

.slider {
  width: 240px;
}

.link {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  line-height: 1.3;
  font-weight: 400;
}
</style>
