body {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #6662F0;
  font-size: 15px;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: OpenSans, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  color: #eee;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
}

h1 {
  font-size: 24px;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 450px;
  max-width: 100%;
  padding: 0 35px;
  margin: 2rem auto;
  overflow: hidden;
}

.form-items-container {
  width: 100%;
  margin-bottom: 22px;
}

label {
  display: none
}

.helptext,
.errorlist {
  text-align: left;
  font-size: 15px
}

.errorlist li {
  list-style: square;
  color: #f56c6c;
}

input {
  font-size: 15px;
  width: 100%;
  border: 1px solid #fff;
  background: #4744A8;
  border-radius: 5px !important;
  color: #fff;
  border-radius: 0px;
  padding: 12px 5px 12px 15px;
  height: 42px
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}


input::placeholder {
  font-size: 15px;
  color: rgba(255, 255, 255, .7);
}


input:focus {
  outline: 0;
}

button {
  width: 200px;
  height: 52px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  color: #FFF;
  background: #76D0EB;
  text-align: center;
  outline: 0;
  margin: 1rem;
  font-weight: 600;
  border-radius: 8px;

}