<template>
  <div id="app" :style="cssProps">
    <router-view />
  </div>
</template>

<script>
export default {
  name: "app",
  computed: {
    cssProps() {
      return {
        "--primary-color": "#6662F0",
        "--secundary-color": "#76D0EB",
        "--secondary-color": "#ffff",
      }
    },
  },
}
</script>

<style>
body {
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

* {
  word-break: normal !important;
  hyphens: auto !important;
}

@font-face {
  font-family: "Open Sans", sans-serif !important;
  src: url("/fonts/OpenSans-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: "Open Sans", sans-serif !important;
  src: url("/fonts/OpenSans-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: regular;
}

@font-face {
  font-family: "Open Sans", sans-serif !important;
  src: url("/fonts/OpenSans-Semibold.ttf") format("ttf");
  font-weight: 600;
  font-style: semibold;
}

@font-face {
  font-family: "Open Sans", sans-serif !important;
  src: url("/fonts/OpenSans-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: bold;
}
</style>
