<template>
  <div>

  </div>
</template>

<script>
import { mapStores } from "pinia"
import { use__Store } from "@/stores/__"

export default {
  name: "",
  components: {},
  data() {
    return {

    }
  },
  computed: {
    ...mapStores(use__Store),
  },
  methods: {

  }
};
</script>

<style lang="scss" scoped>

</style>