<template>
  <Modal @close="closeModal()">
    <div class="modal-missing-top">
      <div style="font-size: 4rem">😊</div>
      <span class="modal-heading">{{ $t("end-modal.missing.header") }}</span>
      <BaseParagraph v-html="poll.pollMissingModal"></BaseParagraph>
    </div>
    <div class="modal-missing-bottom">
      <div class="modal-counter">
        {{ $t("end-modal.questions-counter.a") }}
        <span class="counter-done"
          >{{ pendingQuestions }} {{ $t("end-modal.questions-counter.b") }}
          {{ userAnswersByUser.length }}
        </span>
        {{ $t("end-modal.questions-counter.c") }}
      </div>

      <div class="end-modal-btn-container">
        <BaseButton @click="closeModal()" class="end-modal-btn end-modal-btn__filled"
          >Antworten bearbeiten
        </BaseButton>
        <BaseButton @click="endSurvey()" class="end-modal-btn end-modal-btn__outline"
          >{{ $t("end-modal.success.btn-end-survey") }}
        </BaseButton>
      </div>
    </div>
  </Modal>
</template>

<script>
import Modal from "./Modal"

export default {
  name: "modal-missing",
  props: ["poll", "pendingQuestions", "userAnswersByUser", "activeCardId"],
  components: {
    Modal,
  },
  methods: {
    closeModal() {
      this.$emit("close")
    },
    endSurvey() {
      if (process.env.VUE_APP_TOKEN_PREFIX) {
        localStorage.setItem("closed-" + this.poll.pollCode, true)
        this.$router.push("/ende")
      }
    },
  },
  mounted() {
    if (this.poll.pollSuccessButton == "TAN") {
      this.$emit("close")
    }
  },
}
</script>

<style lang="scss" scoped>
.modal-missing-top {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  .modal-heading {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
  }
}

.modal-missing-bottom {
  display: flex;
  margin-bottom: 1rem;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .modal-counter {
    font-size: 14px;
    font-weight: 600;
    text-align: center;

    .counter-done {
      color: var(--primary-color);
    }
  }

  .end-modal-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .end-modal-btn {
    min-height: 55px;
    font-size: 1rem;

    &__filled {
      background: var(--secundary-color);
      color: #fff;
    }

    &__outline {
      background: #fff;
      color: var(--secundary-color);
      border: 2px solid var(--secundary-color);
    }
  }
}
</style>
