<template>
  <div class="modal">
    <div class="overlay" @click="close($event)"></div>
    <div class="modal-card">
      <div ref="modalContainer" class="modal-content-container">
        <button
          v-if="closebutton"
          class="modal-close-icon"
          @click="$emit('close', $event.target.value)"
        >
          <i class="sl-icon icon-close"></i>
        </button>
        <slot></slot>
      </div>
      <ScrollIndicator v-show="showScrollInidcator" />
    </div>
  </div>
</template>

<script>
import ScrollIndicator from "../ScrollIndicator"

export default {
  name: "modal",
  components: {
    ScrollIndicator,
  },
  props: {
    closebutton: {
      type: Boolean,
      default: false,
      required: false,
    },
    overlayClose: {
      type: Boolean,
      default: true,
      required: false,
    },
  },
  data() {
    return {
      showScrollInidcator: false,
    }
  },
  methods: {
    close(event) {
      if (this.overlayClose) {
        this.$emit("close", event.target.value)
      }
    },
    handleScroll() {
      if (this.getContainerScrolled() < 20) {
        this.showScrollInidcator = false
      }
    },
    getContainerScrolled() {
      let form = this.$refs.modalContainer
      var winScroll = form.scrollTop
      var height = form.scrollHeight - form.clientHeight
      return height - winScroll
    },
    checkScrollHeight() {
      if (this.getContainerScrolled() > 20) {
        this.showScrollInidcator = true
      } else {
        this.showScrollInidcator = false
      }
      this.$refs.modalContainer.addEventListener("scroll", this.handleScroll)
    },
  },
  updated() {
    this.checkScrollHeight()
  },
  beforeDestroy() {
    this.$refs.modalContainer.removeEventListener("scroll", this.handleScroll)
  },
}
</script>

<style lang="scss" scoped>
.modal {
  display: flex;
  justify-content: center;
  padding-bottom: 0.75rem;

  ::-webkit-scrollbar {
    display: none;
  }
}

.overlay {
  z-index: 1000;
  top: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--primary-color);
  opacity: 0.9;
}

.modal-card {
  z-index: 1000;
  position: absolute;
  width: 88%;
  height: 80%;
  display: flex;
  top: 6%;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 0 15px 0 var(--primary-color);
  overflow: hidden;

  .modal-content-container {
    height: 100%;
    overflow-y: scroll;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    box-sizing: border-box;
    padding: 12px;
  }

  .modal-close-icon {
    position: absolute;
    right: 4%;
    top: 1rem;
    font-size: 1.5rem;
    color: #555;
    cursor: pointer;
    z-index: 100;
  }
}
</style>
