<template>
  <div class="legal-container">
    <div class="legal-edit">
      <h4>Impressum</h4>

      <Hint contentType="impress" />

      <div class="legal-impressum-edit">
        <RichTextEditor
          name="impress"
          ref="impressumEditor"
          allowImages
          :maxImgCount="4"
          v-model="pollImpress"
          :editorToolbar="infoToolbar"
          :maxLength="500"
        />
        <ValidationWarning v-show="validationStore.pollFields.missingImpress">
          Impressum muss ausgefüllt werden.
        </ValidationWarning>
      </div>
      <!-- <el-input
        maxlength="250" 
        show-word-limit
        v-model="pollStore.activePoll.pollSupport"
      /> -->
      <div v-if="pollStore.activePoll.pollSuccessButton == 'SEND_MAIL'">
        <h4>Datenschutz</h4>
        <div class="legal-privacy-edit">
          <RichTextEditor
            name="privacy"
            v-model="pollPrivacy"
            :editorToolbar="infoToolbar"
            :maxLength="500"
          />
          <ValidationWarning v-show="validationStore.pollFields.missingPrivacy">
            Datenschutz muss angegebenen werden.
          </ValidationWarning>
        </div>
        <div class="legal-usage-edit">
          <h4>Verwendungszweck der E-Mail-Adressen</h4>

          <Hint contentType="email-usage" />

          <el-input
            class="legal-usage-input"
            v-model="pollEmailUsage"
            type="textarea"
            :rows="3"
            maxlength="120"
            show-word-limit
            placeholder="z.B. Wird ausschließlich zur Ermittlung und Benachrichtigung der Gewinner*innen der Verlosung genutzt"
          >
          </el-input>
          <ValidationWarning v-show="validationStore.pollFields.missingEmailUsage">
            Verwendungszweck muss ausgefüllt werden.
          </ValidationWarning>
        </div>
      </div>
    </div>
    <div class="legal-preview-container">
      <h3>Vorschau</h3>
      <div class="legal-preview">
        <Info :poll="pollStore.activePoll" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapStores } from "pinia"
import { usePollStore } from "@/stores/polls"
import { useValidationStore } from "@/stores/validation"

import { VueEditor } from "vue2-editor"

import { Info } from "vue-shared"

import RichTextEditor from "@/components/RichTextEditor"
import ValidationWarning from "@/components/ValidationWarning"
import Hint from "@/components/Hint"

export default {
  name: "Legal",
  components: {
    VueEditor,
    Info,
    RichTextEditor,
    ValidationWarning,
    Hint,
  },
  data() {
    return {
      showImageBorder: false,
      infoToolbar: [["bold", "italic"], ["link"], [{ script: "super" }]],
    }
  },
  computed: {
    ...mapStores(usePollStore, useValidationStore),
    pollImpress: {
      get() {
        let data = this.pollStore.activePoll.pollImpress
        if (
          !data ||
          (data.includes("Name:", "Anschrift:", "E-Mail:", "Sonstiges:") && data.length == 128)
        ) {
          this.validationStore.pollFields.missingImpress = true
          return "<p>Name:</p><p>Anschrift:</p><p>E-Mail:</p><p>Sonstiges:</p>"
        } else if (this.pollStore.activePoll.pollImpress) {
          return this.pollStore.activePoll.pollImpress
        }
      },
      set(value) {
        if (value.includes("Name:", "Anschrift:", "E-Mail:", "Sonstiges:") && value.length == 128) {
          this.validationStore.pollFields.missingImpress = true
        } else {
          this.validationStore.pollFields.missingImpress = false
        }
        this.pollStore.activePoll.pollImpress = value
      },
    },
    pollPrivacy: {
      get() {
        if (!this.pollStore.activePoll.pollPrivacy) {
          this.validationStore.pollFields.missingPrivacy = true
        }
        return this.pollStore.activePoll.pollPrivacy
      },
      set(value) {
        if (!value) {
          this.validationStore.pollFields.missingPrivacy = true
        } else {
          this.validationStore.pollFields.missingPrivacy = false
        }
        this.pollStore.activePoll.pollPrivacy = value
      },
    },
    pollEmailUsage: {
      get() {
        if (!this.pollStore.activePoll.pollEmailUsage) {
          this.validationStore.pollFields.missingEmailUsage = true
        }
        return this.pollStore.activePoll.pollEmailUsage
      },
      set(value) {
        if (!value) {
          this.validationStore.pollFields.missingEmailUsage = true
        } else {
          this.validationStore.pollFields.missingEmailUsage = false
        }
        this.pollStore.activePoll.pollEmailUsage = value
      },
    },
    imageStyles() {
      let border = ""
      if (this.showImageBorder) {
        border = "border-radius:4px; box-shadow:rgba(0, 0, 0, 0.5) 0px 0px 4px 0px;"
      }

      return {
        height: "height:" + 197 + "px",
        width: "width:" + 200 + "px",
        border,
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.legal-container {
  display: flex;
  align-items: flex-start;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.legal-edit {
  flex: 1;
  min-width: 260px;
  max-width: 400px;
  margin: -2rem 0 2rem 0;

  .legal-impressum-edit {
    position: relative;
    margin: 0.5rem 0 1rem 0;
  }

  .legal-privacy-edit {
    margin: -0.5rem 0;
  }

  .legal-usage-edit {
    min-height: 250px;

    .legal-usage-input {
      margin: 0.5rem 0 0 0;
      font-size: 1rem !important;
    }
  }
}

.legal-preview-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -2.05rem;
}

.legal-preview {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 320px;
  min-width: 320px;
  word-break: normal;
  margin: -0.25rem 0.25rem 1rem 2rem;
  padding: 0rem 0 0rem 1rem;
  border-radius: 8px;
  box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.15);

  > * {
    padding-bottom: 1rem;
  }
}
</style>
