// cover some element-ui styles

.el-card:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 0 6px 0 rgba(0, 0, 0, 0.08) !important;
}

.el-card__header {
  padding: 18px 24px 0 24px;
  border: none;
}

.el-card__body {
  padding: 12px 24px 0 24px;
}

.el-textarea__inner {
  color: #000 !important;
}

.el-tabs {
  box-shadow: none !important;
  border-radius: 8px;
}

.el-tabs__header {
  background: transparent !important;
}

.el-tabs__item {
  font-weight: 600;
  color: #393939 !important;
  border-right-color: #d9d9d9 !important;
  &.is-active {
    color: #6662f0 !important;
    border-left-color: #d9d9d9 !important;
  }
}

.el-breadcrumb__inner,
.el-breadcrumb__inner a {
  font-weight: 400 !important;
}

.el-upload {
  input[type="file"] {
    display: none !important;
  }
}

.el-upload__input {
  display: none;
}

// to fixed https://github.com/ElemeFE/element/issues/2461
.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
  border-radius: 8px;

  .el-dialog__header {
    padding: 2.5rem 2rem 2rem 3rem;
    font-weight: 600;
  }

  .el-dialog__body {
    padding: 0 3rem 3rem 3rem !important;
  }
}

// refine element ui upload
.upload-container {
  .el-upload {
    width: 100%;

    .el-upload-dragger {
      width: 100%;
      height: 200px;
    }
  }
}

// dropdown
.el-dropdown-menu {
  a {
    display: block;
  }
}

.el-dropdown-menu__item {
  font-size: 15px;
}

// to fix el-date-picker css style
.el-range-separator {
  box-sizing: content-box;
}
