// IMPORTANT
// Poll Variables replaced by store and computed cssProps in App.vue

// $--primary-color: #4A90E2;
// $--secundary-color: #7ED321;

// sidebar
$menuText: #ffffff;
$menuActiveText: #ffffff;
$subMenuActiveText: #ffffff; //https://github.com/ElemeFE/element/issues/12951

$menuBg: #6662f0;
$menuHover: #4744a8;
$secundaryColor: #76d0eb;

$subMenuBg: #6662f0;
$subMenuHover: #4744a8;

$sideBarWidth: 340px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
