<template>
  <div class="dashboard-help">
    <div class="dashboard-help-header">Willkommen in der askit App</div>
    <div>
      Mehr Infos & Tipps findest du auf der
      <a href="https://askit-app.de/faq/" target="_blank" class="dashboard-help-link"
        >FAQ & Hilfeseite
      </a>
    </div>
  </div>
</template>

<script>
export default {
  name: "dashboard-help",
  data() {
    return {
      showComponent: false,
      createPollDialog: false,
    }
  },
}
</script>

<style lang="scss" scoped>
.dashboard-help {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  line-height: 1.4;
  margin: 0rem 0 2.5rem 0;

  .dashboard-help-header {
    margin-bottom: 0.5rem;
    font-size: 22px;
    font-weight: 700;
  }

  .dashboard-help-link {
    color: var(--secundary-color);
    text-decoration: underline;
    font-weight: 600;
  }
}

.help-footer {
  border-top: 1px solid #dcdfe6;
}
</style>
