<template>
  <el-card class="dashboard-card">
    <div class="dashboard-card-header" slot="header" @click="goToPoll(poll.id)">
      <span class="card-title">{{ poll.pollName }}</span>
    </div>

    <div class="dashboard-card-row-1">
      <div @click="goToPoll(poll.id, true)" class="dashboard-status-indicator">
        <StatusIndicator :status="poll.pollStatus" />
      </div>
      <ParticipantCounters :poll="poll" />
    </div>
    <div class="dashboard-card-row-2">
      <LinkToClipboard :pollCode="poll.pollCode" />
      <QrCodeButton :pollCode="poll.pollCode" />
    </div>
  </el-card>
</template>

<script>
import { mapStores } from "pinia"
import { usePollStore } from "@/stores/polls"
import StatusIndicator from "@/components/StatusIndicator"
import ParticipantCounters from "@/components/ParticipantCounters"
import QrCodeButton from "@/components/QrCodeButton"
import LinkToClipboard from "@/components/LinkToClipboard"
import DuplicatePoll from "@/components/DuplicatePoll"

export default {
  name: "DashboardCard",
  computed: {
    ...mapStores(usePollStore),
  },
  props: {
    poll: {
      type: Object,
      required: true,
    },
  },
  components: {
    StatusIndicator,
    ParticipantCounters,
    QrCodeButton,
    LinkToClipboard,
    DuplicatePoll,
  },
  methods: {
    goToPoll(id, toSettings = false) {
      this.pollStore.setActivePoll(id)

      let params = toSettings ? "?tab=einstellungen" : ""
      this.$router.push("/umfrage/" + id + params)
    },
  },
  mounted() {
    setTimeout(() => (this.showComponent = true), 500)
  },
}
</script>

<style lang="scss" scoped>
.dashboard-card-header {
  border: none;
  height: 2.5rem;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.2;
  cursor: pointer;

  &:hover {
    color: #000;
  }
}

.dashboard-card-row-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .dashboard-status-indicator {
    margin-bottom: 1rem;
  }
}

.dashboard-card-row-2 {
  display: flex;
  align-items: center;
  margin: 8px 0 0px -13px;
}
</style>
