<template>
  <div>
    <div @click="openCreatePollDialog()" class="dashboard-card dashboard-create-poll">
      <i class="el-icon-circle-plus-outline" />
      Umfrage erstellen
    </div>
    <el-dialog
      :visible.sync="createPollDialog"
      custom-class="create-poll-dialog"
      title="Umfrage erstellen:"
      width="30vw"
      top="10vh"
      append-to-body
      :close-on-press-escape="false"
      :close-on-click-modal="false"
    >
      <CreatePollDialog :resetOnChange="createPollDialog" />
    </el-dialog>
  </div>
</template>

<script>
import CreatePollDialog from "@/components/CreatePollDialog"
import { mapStores } from "pinia"
import { useTierStore } from "@/stores/tier"
import { usePollStore } from "@/stores/polls"
import { useAppStore } from "@/stores/app"

export default {
  name: "dashboard-create-poll",
  components: { CreatePollDialog },
  data() {
    return {
      createPollDialog: false,
    }
  },
  computed: {
    ...mapStores(usePollStore, useTierStore, useAppStore),
  },
  methods: {
    openCreatePollDialog() {
      if (this.tierStore.tier.pollsAmount > this.pollStore.polls.length) {
        this.createPollDialog = true
      } else {
        this.appStore.toggleLimitDialog({ limitType: "poll" })
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.dashboard-create-poll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1.6rem 2.1rem 0;
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  background: #fff;
  color: #001528;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  color: var(--primary-color);

  i {
    font-size: 4rem;
    font-weight: 600;
    margin: 0.5rem 0 1.5rem 0;
  }

  &:hover {
    color: #fff;
    border-color: var(--secundary-color);
    background: var(--secundary-color);
  }
}
</style>
