<header style="  
font-family: 'Open Sans', sans-serif;
height: 120px;
background: #6662F0;
display: flex;
justify-content: flex-end;
align-items: center;
margin-bottom: 1rem;
padding: 0 5%;
">
<div style="display: flex; flex: 1; justify-content: flex-start;">
  <img style="height:  30px;" 
  " src="https://challenge-app-space.fra1.cdn.digitaloceanspaces.com/media%2Fimages%2Fadmin%2Faskit_logo_weiss.png" alt="askit-logo">
</div>
</header>