{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html lang=de>

<head>
  <meta charset=utf-8>
  <meta http-equiv=X-UA-Compatible content="IE=edge,chrome=1">
  <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  
  <title>askit Adminbereich</title>
  <link rel="stylesheet" href="https://challenge-app-space.fra1.cdn.digitaloceanspaces.com/media/fonts_icons/simple-line-icons/css/simple-line-icons.css">
  {% render_bundle 'chunk-elementUI' 'css' 'BACKEND' %}
  {% render_bundle 'chunk-libs' 'css' 'BACKEND' %}
  {% render_bundle 'app' 'css' 'BACKEND' %}
</head>

<body>
  <noscript><strong>Sorry, askit Admin funktioniert nur mit Javascript
      enable it to continue.</strong></noscript>
  <div id=app></div>
  <!-- This script must be copied from vue-admin/static/index.html when chunks are not found -->
  <!-- ADMIN_WEBPACK_CHUNK_SCRIPT gets replaced in gitlab CI job (see .gitlab-ci.yml) -->
  ADMIN_WEBPACK_CHUNK_SCRIPT 

  {% render_bundle 'chunk-elementUI' 'js' 'BACKEND' %}
  {% render_bundle 'chunk-libs' 'js' 'BACKEND' %}
  {% render_bundle 'app' 'js' 'BACKEND' %}

</body>

</html>