<template>
  <div>
    <el-button
      @click="openResetDialog()"
      style="margin-top: 0.5rem"
      type="warning"
      plain
      icon="el-icon-refresh-left"
    >
      Umfrage zurücksetzen
    </el-button>
    <el-dialog
      class="poll-dialog"
      :visible.sync="dialogResetPoll"
      title="Umfrage zurücksetzen"
      @open="resetInput = ''"
      @close="showResetMsg = false"
    >
      <div v-if="!showResetMsg">
        <div>
          Beim Zurücksetzen der Umfrage werden alle...
          <ul style="line-height: 24px">
            <li><strong>Antworten / Auswertungen</strong></li>
            <li><strong>E-Mail-Adressen</strong></li>
          </ul>
          unwiderruflich gelöscht.
        </div>
        <br />
        <el-input
          maxlength="12"
          show-word-limit
          v-model="resetInput"
          placeholder="ZURÜCKSETZEN eingeben, um die Funktion zu aktivieren "
        ></el-input>
      </div>
      <div v-else>
        <div class="reset-warning green">
          <i style="margin-right: 0.25rem" class="el-icon-check"></i>Umfrage wurde zurückgesetzt.
        </div>
        <div class="reset-warning yellow">
          <i style="margin-right: 0.25rem" class="el-icon-warning"></i>Umfrage wurde deaktiviert!
        </div>
      </div>

      <span v-if="!showResetMsg" slot="footer" class="dialog-footer">
        <el-button
          :disabled="resetInput != 'ZURÜCKSETZEN'"
          size="default"
          type="warning"
          icon="el-icon-refresh-left"
          @click="resetPoll"
          >Umfrage zurücksetzen</el-button
        >
      </span>
      <span v-else slot="footer" class="dialog-footer">
        <el-button size="default" type="primary" @click="dialogResetPoll = false">OK</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapStores } from "pinia"
import { usePollStore } from "@/stores/polls"

import { RESET_POLL } from "vue-shared"

export default {
  name: "GeneralReset",

  components: {},
  data() {
    return {
      dialogResetPoll: false,
      showResetMsg: false,
      resetInput: "",
    }
  },
  computed: {
    ...mapStores(usePollStore),
  },
  methods: {
    openResetDialog() {
      this.showResetMsg = false
      this.dialogResetPoll = true
    },
    resetPoll() {
      this.$apollo
        .mutate({
          mutation: RESET_POLL,
          variables: {
            pollId: this.pollStore.activePoll.id,
          },
        })
        .then(() => {
          this.showResetMsg = true
          this.pollStore.pendingPollStatus = "INACTIVE"
          this.pollStore.activePoll.pollStatus = "INACTIVE"

          this.pollStore.activePoll.pollSuccessEmailsCounter = 0
          this.pollStore.activePoll.pollParticipantsCounter = 0

          this.$notify({
            message: "Umfrage wurde zurückgesetzt",
            showClose: true,
            duration: 1500,
            position: "bottom-left",
            type: "success",
          })
        })
        .catch((error) => {
          console.error(error)
        })
    },
  },
}
</script>

<style lang="scss" scoped>
.reset-warning {
  font-size: 1.2rem;
  border-radius: 4px;
  margin-top: 7px;
  margin: 0.5rem 2rem;
  text-align: center;
  padding: 1rem 1rem;
}

.green {
  color: rgb(103, 194, 58);
  background: rgba(103, 194, 58, 0.1);
  border: 1px solid rgb(103, 194, 58);
}

.yellow {
  color: rgb(230, 162, 60);
  background: rgba(230, 162, 60, 0.1);
  border: 1px solid rgb(230, 162, 60);
}
</style>
