<template>
  <div>
    <el-dialog
      class="status-dialog"
      :visible.sync="pollStore.showStatusDialog"
      :title="getStatusDialogTitle()"
      @close="closePollStatusDialog()"
    >
      <el-card class="status-card">
        <div class="status-card-content">
          <StatusIndicator :status="pollStore.pendingPollStatus" />
          <span class="status-card-content-text">{{ statusDialogInfo }}</span>
        </div>
      </el-card>
      <span slot="footer" class="dialog-footer">
        <el-button
          :disabled="disablePollStatusChange()"
          size="default"
          :type="statusDialogBtnColor"
          @click="pollStore.changePollStatus()"
          >{{ getStatusDialogTitle() }}</el-button
        >
        <div class="validation-warnings-wrapper" v-if="pollStore.pendingPollStatus != 'INACTIVE'">
          <ValidationWarning v-show="validationStore.pollFields.missingQuestions">
            Umfrage kann <strong>ohne Fragen</strong> nicht aktiviert werden.
          </ValidationWarning>
          <ValidationWarning v-show="validationStore.pollFields.missingImpress">
            Umfrage kann <strong>ohne Impressum</strong> nicht aktiviert werden.
          </ValidationWarning>
          <ValidationWarning v-show="validationStore.pollFields.missingPrivacy">
            Umfrage mit E-Mail-Abfrage kann
            <strong>ohne Datenschutz</strong> nicht aktiviert werden.
          </ValidationWarning>
          <ValidationWarning v-show="validationStore.pollFields.missingEmailUsage">
            Umfrage mit E-Mail-Abfrage kann
            <strong>ohne Verwendungszweck</strong> nicht aktiviert werden.
          </ValidationWarning>
        </div>
      </span>
    </el-dialog>

    <el-dialog
      class="status-dialog"
      :visible.sync="pollStore.showStatusChangedDialog"
      :title="statusDialogMessage"
      :center="true"
      @close="pollStore.showStatusDialog = false"
    >
      <div class="status-dialog-changed">
        <QrCodeButton :pollCode="pollStore.activePoll.pollCode" />
        <LinkToClipboard class="link" :pollCode="pollStore.activePoll.pollCode" />
        <StatusIndicator class="status-indicator" :status="pollStore.activePoll.pollStatus" />
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { mapStores } from "pinia"
import { usePollStore } from "@/stores/polls"
import { useValidationStore } from "@/stores/validation"

import StatusIndicator from "@/components/StatusIndicator"
import ValidationWarning from "@/components/ValidationWarning"
import LinkToClipboard from "@/components/LinkToClipboard"
import QrCodeButton from "@/components/QrCodeButton"

export default {
  name: "GeneralStatusDialog",
  components: {
    StatusIndicator,
    ValidationWarning,
    LinkToClipboard,
    QrCodeButton,
  },
  data() {
    return {
      statusDialogInfo: "",
      statusDialogBtnColor: "",
      statusDialogMessage: "",
    }
  },
  computed: {
    ...mapStores(usePollStore, useValidationStore),
  },
  watch: {
    "pollStore.pendingPollStatus": {
      deep: true,
      handler() {
        this.getStatusDialogTitle()
      },
    },
  },
  methods: {
    getStatusDialogTitle() {
      switch (this.pollStore.pendingPollStatus) {
        case "ACTIVE":
          this.statusDialogInfo = "Aktive Umfragen sind öffentlich verfügbar."
          this.statusDialogBtnColor = "success"
          this.statusDialogMessage = "Umfrage aktiviert"
          return "Umfrage aktivieren"
        case "TEST":
          this.statusDialogInfo =
            "Umfragen im Test-Modus sind öffentlich verfügbar und für Nutzende deutlich gekennzeichnet."
          this.statusDialogBtnColor = "warning"
          this.statusDialogMessage = "Test-Modus aktiviert"

          return "Test-Modus aktivieren"
        case "INACTIVE":
          this.statusDialogInfo =
            "Inaktive Umfragen sind weiterhin öffentlich verfügbar, können aber nicht gestartet oder weitergeführt werden!"
          this.statusDialogBtnColor = "danger"
          this.statusDialogMessage = "Umfrage deaktiviert"
          return "Umfrage deaktivieren"
      }
    },
    disablePollStatusChange() {
      if (this.pollStore.pendingPollStatus != "INACTIVE") {
        return (
          !this.validationStore.hasPollQuestions() || !this.validationStore.hasValidPollSettings()
        )
      }
    },
    closePollStatusDialog() {
      this.validationStore.$patch({
        pollFields: {
          missingQuestions: false,
          missingImpress: false,
          missingPrivacy: false,
          missingEmailUsage: false,
        },
      })
      setTimeout(
        () => (this.pollStore.pendingPollStatus = this.pollStore.activePoll.pollStatus),
        200
      )
    },
  },
}
</script>

<style lang="scss" scoped>
.status-dialog {
  > div {
    max-width: 1200px;
  }

  .status-dialog-changed {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 0.5rem;
    margin-top: -1rem;

    .status-indicator {
      position: absolute;
      bottom: -10px;
      right: -5px;
    }

    .link {
      margin-top: 0.5rem;
    }
  }

  .status-card {
    background: #fff;
    border-radius: 4px;
    margin: -1rem 1rem 0 0.5rem;

    .status-card-content {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0.4rem 0 1rem 0;

      .status-card-content-text {
        margin-left: 24px;
        font-weight: 500;
        hyphens: auto;
        word-break: normal;
      }
    }
  }
}
</style>
