<template>
  <div>
    <GeneralStatusSelector />
    <GeneralStatusDialogs />
  </div>
</template>

<script>
import GeneralStatusSelector from "./GeneralStatusSelector"
import GeneralStatusDialogs from "./GeneralStatusDialogs"

export default {
  name: "GeneralStatus",
  components: {
    GeneralStatusSelector,
    GeneralStatusDialogs,
  },
}
</script>
