<template>
  <el-form-item v-if="tierStore.tier.accountActive" label="Status">
    <br />
    <div class="poll-status">
      <el-select
        class="poll-status-selector"
        v-model="pollStore.pendingPollStatus"
        placeholder="Suche"
        @change="selectPollStatus"
      >
        <div v-if="!pollStore.participantLimitAt(100)">
          <el-option label="Aktiv" value="ACTIVE"></el-option>
          <el-option label="Test-Modus" value="TEST"></el-option>
        </div>
        <el-option
          :label="
            !pollStore.participantLimitAt(100) ? 'Inaktiv' : 'Inaktiv: Teilnehmenden-Limit erreicht'
          "
          value="INACTIVE"
        ></el-option>
      </el-select>
      <StatusIndicator :status="pollStore.pendingPollStatus" />
    </div>
  </el-form-item>
</template>

<script>
import { mapStores } from "pinia"
import { usePollStore } from "@/stores/polls"
import { useTierStore } from "@/stores/tier"

import StatusIndicator from "@/components/StatusIndicator"

export default {
  name: "GeneralStatusSelector",
  components: {
    StatusIndicator,
  },
  computed: {
    ...mapStores(usePollStore, useTierStore),
  },
  methods: {
    selectPollStatus(status) {
      this.pollStore.pendingPollStatus = status
      this.pollStore.showStatusDialog = true
    },
  },
}
</script>

<style lang="scss" scoped>
.poll-status {
  display: flex;
  align-items: center;

  .poll-status-selector {
    margin-right: 10px;
  }
}
</style>
