<template>
  <div>
    <div class="poll-reset-and-delete">
      <GeneralReset />
      <GeneralDelete />
    </div>
    <el-form style="max-width: 70%">
      <GeneralStatus />
      <GeneralNameDescCode />
    </el-form>
  </div>
</template>

<script>
import GeneralReset from "./GeneralReset"
import GeneralDelete from "./GeneralDelete"
import GeneralStatus from "./GeneralStatus"
import GeneralNameDescCode from "./GeneralNameDescCode"

export default {
  name: "Gereral",
  components: {
    GeneralReset,
    GeneralDelete,
    GeneralStatus,
    GeneralNameDescCode,
  },
  data() {
    return {}
  },
  computed: {},
}
</script>

<style lang="scss" scoped>
.poll-reset-and-delete {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
</style>
