<template>
  <div>
    <el-form-item label="Name">
      <el-input maxlength="40" show-word-limit v-model="pollStore.activePoll.pollName" />
    </el-form-item>
    <el-form-item label="Beschreibung">
      <el-input maxlength="80" show-word-limit v-model="pollStore.activePoll.pollDescription" />
    </el-form-item>
    <el-form-item label="Umfrage Code">
      <br />
      <el-tag class="poll-code" type="info"> {{ pollStore.activePoll.pollCode }}</el-tag>
    </el-form-item>
  </div>
</template>

<script>
import { mapStores } from "pinia"
import { usePollStore } from "@/stores/polls"

export default {
  name: "GeneralNameDescCode",
  components: {},
  data() {
    return {}
  },
  computed: {
    ...mapStores(usePollStore),
  },
  methods: {},
}
</script>

<style lang="scss" scoped>
.poll-code {
  font-size: 1.5rem;
  font-weight: 600;
  height: 3rem;
  color: var(--primary-color);
  background: transparent;
  letter-spacing: 4px;
  line-height: 1.9;
  padding-left: 0.75rem;
}
</style>
