<template>
  <div class="media-manager">
    <div class="preview-container">
      <Card
        style="height: 420px; width: 284px; margin: -10vh 0 10vh 0"
        v-if="appStore.mediaManager.card"
        :card="appStore.mediaManager.card"
        :showCardBack="false"
        :showThrowOutOverlay="false"
      />
      <div v-else class="photo-preview">
        <img v-if="imagePreviewSrc" class="photo-img" :src="imagePreviewSrc" alt="" />
        <div v-else class="photo-placeholder">Kein Bild ausgewählt</div>
      </div>
      <el-button class="confirm-button" type="primary" @click="confirmImage"
        >Bild festlegen</el-button
      >
    </div>
    <el-tabs class="media-manager-tabs" v-model="activeName">
      <el-tab-pane
        v-for="item in tabMapOptions"
        :key="item.key"
        :label="item.label"
        :name="item.key"
      >
        <keep-alive>
          <component :is="item.component" />
        </keep-alive>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
import axios from "axios"

import { mapStores } from "pinia"
import { useAppStore } from "@/stores/app"
import { useQuestionStore } from "@/stores/questions"

import { bus } from "./mediaManagerBus"
import { Card } from "vue-shared"

export default {
  name: "TheMediaManager",
  components: {
    Card,
  },
  computed: {
    ...mapStores(useAppStore),
  },
  data() {
    return {
      tabMapOptions: [
        {
          label: "Eigene Bilder",
          key: "user-gallery",
          component: () => import("./UserGallery.vue"),
        },
        {
          label: "Unsplash Bilder",
          key: "unsplash-gallery",
          component: () => import("./UnsplashGallery.vue"),
        },
      ],
      activeName: "user-gallery",
      imagePreviewSrc: "",
      imageDownloadSrc: "",
    }
  },
  methods: {
    confirmImage() {
      if (this.activeName === "unsplash-gallery") {
        axios.get(this.imageDownloadSrc, {
          params: {
            client_id: process.env.VUE_APP_UNSPLASH_KEY,
          },
        })
      }
      if (this.imagePreviewSrc) {
        if (this.appStore.mediaManager.context == "fragen") {
          useQuestionStore().pendingQuestion.questionImagelink = this.imagePreviewSrc
          this.appStore.toggleMediaManager({ context: null, card: null })
        } else {
          bus.$emit(
            `media-manager-confirm-image-${this.appStore.mediaManager.context}`,
            this.imagePreviewSrc
          )
        }
      }
    },
  },

  mounted() {
    this.imagePreviewSrc = this.appStore.mediaManager.card
      ? this.appStore.mediaManager.card.question.questionImagelink
      : null
  },
  created() {
    bus.$off("select-user-image")
    bus.$on("select-user-image", (photo) => {
      this.imagePreviewSrc = process.env.VUE_APP_MEDIA_ENDPOINT + photo.src
      if (this.appStore.mediaManager.card) {
        this.appStore.mediaManager.card.question.questionImagelink =
          process.env.VUE_APP_MEDIA_ENDPOINT + photo.src
      }
    })

    bus.$off("select-unsplash-image")
    bus.$on("select-unsplash-image", (photo) => {
      this.imagePreviewSrc = photo.urls.small
      this.imageDownloadSrc = photo.links.download_location
      if (this.appStore.mediaManager.card) {
        this.appStore.mediaManager.card.question.questionImagelink = photo.urls.small
      }
    })
  },
}
</script>

<style lang="scss" scoped>
.media-manager {
  width: 80vw;
  // max-width: 1176px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 0;
  display: flex;
  flex-direction: columns;
  justify-content: center;
  flex-wrap: wrap;
}

.preview-container {
  flex: 1;
  display: flex;
  max-width: 360px;
  min-width: 360px;
  margin: 2rem 0;
  flex-direction: column;
  align-items: center;

  .photo-preview {
    .photo-img {
      max-width: 240px;
      border-radius: 4px;
    }

    .photo-placeholder {
      color: #999;
      max-width: 240px;
      border: 1px dashed #999;
      padding: 4.7rem;
      border-radius: 4px;
    }
  }

  .confirm-button {
    margin-top: 1rem;
  }
}
</style>
