<template>
  <div>
    <div class="photo-grid__column" v-for="(columnPhotos, i) in columns()" :key="i">
      <UserGalleryGridItem
        v-for="photo in columnPhotos"
        :key="photo.src"
        :photo="photo"
      ></UserGalleryGridItem>
    </div>
  </div>
</template>

<script>
import UserGalleryGridItem from "./UserGalleryGridItem"
import Dropzone from "@/components/Dropzone"

export default {
  name: "user-photo-grid",
  components: { UserGalleryGridItem, Dropzone },

  props: {
    photos: {
      required: true,
    },
  },
  data() {
    return {
      columnNumber: 3,
    }
  },
  methods: {
    columns() {
      if (this.photos) {
        const result = []
        let columnHights = []

        for (var i = 1; i <= this.columnNumber; i++) {
          result.push([])
          columnHights.push(0)
        }

        this.photos.forEach((photo) => {
          let min = Math.min(...columnHights)
          let indexOfMin = columnHights.indexOf(min)
          let photoRatio = photo.height / photo.width

          columnHights[indexOfMin] += photoRatio
          result[indexOfMin].push(photo)
        })
        return result
      }
    },
  },
}
</script>

<style lang="scss" scoped>
.photo-grid__column {
  width: 100%;
}
</style>
