<template>
  <el-dialog
    visible
    v-loading="isUploading"
    title="Bild zuschneiden"
    top="1rem"
    :center="true"
    append-to-body
    :close-on-click-modal="false"
    @close="$emit('close-cropper', null)"
  >
    <p class="cropper-notes">
      <i class="el-icon-zoom-in cropper-notes-icon"></i> Zoom mit Mausrad oder Gesten
    </p>
    <Cropper
      v-if="appStore.mediaManager.context === 'fragen'"
      class="cropper"
      backgroundClass="cropper-custom-background"
      ref="cropper"
      :src="imageData.src"
      :min-height="432"
      :min-width="360"
      :stencil-props="{
        handlers: {},
        movable: false,
        scalable: false,
        aspectRatio: 5 / 6,
      }"
      :size-restrictions-algorithm="pixelsRestriction"
      image-restriction="stencil"
    ></Cropper>
    <Cropper
      v-else
      class="cropper"
      backgroundClass="cropper-custom-background"
      ref="cropper"
      :src="imageData.src"
      :min-width="240"
      :min-height="0"
      :size-restrictions-algorithm="pixelsRestriction"
    ></Cropper>
    <el-button class="cropper-button" type="primary" @click="crop">Bild zuschneiden</el-button>
  </el-dialog>
</template>

<script>
import { bus } from "./mediaManagerBus"
import { mapStores } from "pinia"
import { useAppStore } from "@/stores/app"

import { Cropper } from "vue-advanced-cropper"

import { UPLOAD_IMAGE } from "vue-shared"

export default {
  name: "UserGalleryCropper",
  props: {
    imageData: {
      required: true,
    },
    croppedFileName: {
      type: String,
      required: true,
    },
  },
  components: { Cropper },
  data() {
    return { isUploading: false }
  },
  computed: {
    ...mapStores(useAppStore),
  },
  methods: {
    crop() {
      const { canvas } = this.$refs.cropper.getResult()
      if (canvas) {
        canvas.toBlob((bigBlob) => {
          const blobURL = window.URL.createObjectURL(bigBlob)
          const img = new Image()
          img.src = blobURL
          img.onload = () => {
            window.URL.revokeObjectURL(blobURL) // release memory

            const newWidth = 400
            const newHeight = Math.floor((img.height * newWidth) / img.width)

            const tempCanvas = document.createElement("canvas")
            tempCanvas.width = newWidth
            tempCanvas.height = newHeight
            const ctx = tempCanvas.getContext("2d")

            ctx.fillStyle = "white"

            ctx.fillRect(0, 0, newWidth, newHeight)
            ctx.drawImage(img, 0, 0, newWidth, newHeight)

            tempCanvas.toBlob(
              (blob) => {
                const smallBlobURL = window.URL.createObjectURL(blob)
                const img = new Image()
                img.onload = () => {
                  window.URL.revokeObjectURL(smallBlobURL)

                  let file = new File([blob], this.croppedFileName)
                  Object.defineProperty(file, "width", {
                    value: img.width,
                    writable: false,
                  })
                  Object.defineProperty(file, "height", {
                    value: img.height,
                    writable: false,
                  })
                  this.uploadImageToStorage(file)
                }
                img.src = smallBlobURL
              },
              "image/jpeg",
              0.8
            )
          }
        }),
          "image/jpeg",
          0.8
      }
    },
    uploadImageToStorage(file) {
      this.isUploading = true

      let filename =
        file.name.substr(0, file.name.length - 5) +
        "__" +
        Math.random()
          .toString(36)
          .replace(/[^a-z]+/g, "")
          .substr(0, 5) +
        ".jpeg"

      this.$apollo
        .mutate({
          mutation: UPLOAD_IMAGE,
          variables: {
            title: filename,
            src: file,
            width: file.width,
            height: file.height,
          },
        })
        .then((data) => {
          this.$notify({
            message: file.name + " hochgeladen",
            showClose: true,
            duration: 2000,
            position: "bottom-left",
            type: "success",
          })
          this.isUploading = false

          bus.$emit("select-user-image", data.data.uploadImage.image)
          this.$emit("close-cropper", data.data.uploadImage.image)
        })
        .catch((error) => {
          this.isUploading = false
        })
    },
    pixelsRestriction({ minWidth, minHeight }) {
      return {
        minWidth: minWidth,
        minHeight: minHeight,
      }
    },
  },
}
</script>

<style>
.cropper-custom-background {
  background: #001528 !important;
}
</style>

<style lang="scss" scoped>
.cropper {
  max-width: 800px;
  max-height: 800px;
}

.cropper-notes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  font-size: 1rem;

  .cropper-notes-icon {
    margin-right: 0.25rem;
  }
}

.cropper-button {
  position: absolute;
  bottom: 4rem;
  right: 4.5rem;
}
</style>
