<template>
  <span class="form-error-text"><slot></slot></span>
</template>

<style scoped lang="scss">
.form-error-text {
  font-size: 0.7rem;
  color: #e94f35;
  text-align: center;
  margin-bottom: 0.1rem;
}
</style>
