<template>
  <div class="main-container">
    <div class="end-screen-wrapper">
      <div class="end-screen end-screen__top">
        <div style="font-size: 4rem">🥳</div>

        <BaseHeading class="end-screen-title">{{ $t("close-me.title") }}</BaseHeading>
        <p class="end-screen-text">{{ $t("close-me.text") }}</p>
      </div>
      <div class="end-screen end-screen__bottom">
        <span>
          Du möchtest selbst eine Umfrage starten? Gehe zu
          <a
            style="color: #323232; text-decoration: underline"
            href="https://askit-app.de/"
            target="_blank"
            >askit</a
          >
          und erhalte Tipps für deine Umfrage.
        </span>
        <img
          class="end-screen-logo"
          src="https://challenge-app-space.fra1.cdn.digitaloceanspaces.com/media%2Fimages%2Fadmin%2Faskit_logo_violett.png"
          alt=""
        />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "EndScreen",
}
</script>

<style lang="scss" scoped>
.end-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .end-screen-logo {
    width: 5rem;
    margin: 1rem auto 0.1rem auto;
  }

  &__top {
    display: flex;
    align-items: center;
    flex: 1;
  }

  &__bottom {
    font-size: 14px;
    margin: auto auto;
    text-align: center;
    min-height: 20vh;
    width: 70vw;
    margin-bottom: 6rem;
    padding: 0.25rem 1rem;
    background: #fff;
    border-radius: 8px;
  }
}

.end-screen-wrapper {
  background: var(--secundary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100vw;

  .end-screen-title {
    font-size: 1.5rem;
    text-align: center;
  }

  .end-screen-text {
    font-size: 1rem;
    text-align: center;
    line-height: 1.5;
    max-width: 12rem;
  }
}
</style>
