<template>
  <div class="main-container">
    <div v-if="pollAppStore.activePoll.pollStatus == 'INACTIVE'" class="inactive-overlay">
      <i class="sl-icon icon-ghost inactive-icon"></i>
      <span class="inactive-text">Umfrage beendet</span>
    </div>
    <div v-if="this.$apollo.loading" class="loading"></div>
    <TheNavbar
      v-if="pollAppStore.activePoll.pollStatus != 'INACTIVE'"
      @navigate="goToCard($event)"
      :userAnswersByUser="userAnswersByUser"
      :activeCardId="activeCardId"
    />
    <!-- <button
      v-if="pollAppStore.activePoll.pollStatus != 'INACTIVE'"
      class="info-button"
      @click="showInfoModal = true"
    >
      <span class="info-icon">i</span>
    </button> -->
    <!-- <Modal v-if="showInfoModal" @close="closeInfoModal()">
      <Info :poll="poll" />
      <SymbolsLegend v-if="!showImpressum" />
      <BaseButton style="margin-top: 0.5rem" @click="powerOn()">BELASTUNGSTEST</BaseButton>
    </Modal> -->

    <vue-swing
      v-if="pollAppStore.activePoll.pollStatus != 'INACTIVE'"
      @throwoutup="skipQuestion()"
      @throwoutleft="throwOutLeft()"
      @throwoutdown="previousQuestion()"
      @throwoutright="throwOutRight()"
      @dragmove="dragmove($event)"
      @dragstart="throwOutEvent.throwOutConfidence = 0"
      @dragend="throwOutEvent.throwOutConfidence = 0"
      @hook:beforeMount="setAllowedDirections()"
      :config="swingConfig"
      ref="vueswing"
      class="swing-wrapper"
    >
      <div class="placeholder-card"></div>
      <Card
        v-for="card in cardStack"
        :class="['card-' + card.question.id]"
        :key="card.question.id"
        @cardrequest="requestNewCard()"
        @flip="flipCard()"
        ref="basecard"
        :card="card"
        :showCardBack="showCardBack"
        :throwOutEvent="throwOutEvent"
        :showThrowOutOverlay="true"
      />
    </vue-swing>

    <ModalMissing
      v-if="showMissingModal"
      v-bind="modalProps"
      @clickNavbar="goToCard($event)"
      @close="closeMissingModal()"
    />
    <ModalSuccess v-if="showSuccessModal" v-bind="modalProps" @close="closeSuccessModal()" />
  </div>
</template>

<script>
import { dictionary } from "@/validation.conf.js"

import { mapStores } from "pinia"
import { usePollAppStore } from "@/stores/poll"

import VueSwing from "vue-swing"
import vendorPrefix from "vendor-prefix"

import TheNavbar from "../components/layout/navbar/TheNavbar"

import { Card } from "vue-shared"
import { ModalSuccess } from "vue-shared"
import { ModalMissing } from "vue-shared"

// GraphQL
import { USER_ANSWERS_BY_USER } from "vue-shared"

export default {
  name: "swiper-screen",
  components: {
    VueSwing,
    TheNavbar,
    Card,
    // Modal,
    ModalSuccess,
    ModalMissing,
    // Info,
    // SymbolsLegend,
  },
  data() {
    return {
      userAnswersByUser: null,
      activeCardDomElement: "",
      throwOutEvent: { throwDirection: "", throwOutConfidence: 0 },
      nextCardIndex: 0,
      cardStack: [{ id: "prevent-undefined-error" }],
      showCardBack: false,
      showSuccessModal: false,
      showMissingModal: false,
      showInfoModal: false,
      // showImpressum: false,
      pendingQuestions: 0,
      successMailAddress: "",
      mailAddressSend: false,
    }
  },
  apollo: {
    userAnswersByUser: {
      query: USER_ANSWERS_BY_USER,
      fetchPolicy: "network-only",
      update(data) {
        this.showCardBack = false
        this.userAnswersByUser = data.userAnswersByUser
        this.cardStack.unshift(this.userAnswersByUser[this.nextCardIndex])
        this.cardStack.pop()
        this.nextCardIndex += 1
        return data.userAnswersByUser
      },
    },
  },
  computed: {
    ...mapStores(usePollAppStore),

    modalProps() {
      return {
        poll: this.pollAppStore.activePoll,
        userAnswersByUser: this.userAnswersByUser,
        pendingQuestions: this.pendingQuestions,
        activeCardId: this.activeCardId,
      }
    },
    activeCardId() {
      return this.cardStack[0].question.id
    },
    swingConfig() {
      return {
        allowedDirections: [],
        minThrowOutDistance: 1000,
        maxThrowOutDistance: 5000,
        throwOutConfidence: (xOffset, yOffset, element) => {
          const xConfidence = Math.min((Math.abs(xOffset) / element.offsetWidth) * 1.8, 1)
          const yConfidence = Math.min((Math.abs(yOffset) / element.offsetHeight) * 2.8, 1)
          return Math.max(xConfidence, yConfidence)
        },
        transform: (element, coordinateX, coordinateY, rotation) => {
          if (this.cardStack[0].__typename == "UserAnswerYesOrNoType") {
            element.style[vendorPrefix("transform")] =
              "translate3d(0, 0, 0) translate(" +
              coordinateX +
              "px, " +
              coordinateY +
              "px) rotate(" +
              rotation +
              "deg)"
          } else if (this.cardStack[0].__typename == "UserAnswerExplainerType") {
            element.style[vendorPrefix("transform")] =
              // "translate3d(0, 0, 0) translate(0,0,0) rotate(0)"
              "translate3d(0, 0, 0) translate(" + 0 + "px, " + 0 + "px) rotate(" + rotation + "deg)"
          } else {
            element.style[vendorPrefix("transform")] =
              // "translate3d(0, 0, 0) translate(0,0,0) rotate(0)"
              "translate3d(0, 0, 0) translate(" +
              0 +
              "px, " +
              coordinateY +
              "px) rotate(" +
              rotation +
              "deg)"
          }
        },
      }
    },
  },
  watch: {
    cardStack: function () {
      this.setAllowedDirections()
    },
  },
  methods: {
    closeInfoModal() {
      // this.showImpressum = false;
      this.showInfoModal = false
    },
    closeMissingModal() {
      this.showMissingModal = false
    },
    closeSuccessModal() {
      this.showSuccessModal = false
      this.goToCard(0)
    },
    dragmove(event) {
      this.throwOutEvent = event
    },
    throwOutRight() {
      this.$refs.basecard[0].throwOutRight()
    },
    throwOutLeft() {
      this.$refs.basecard[0].throwOutLeft()
    },
    flipCard() {
      let domElement = (this.activeCardDomElement = document.querySelector(
        ".card-" + this.cardStack[0].question.id
      ))
      let card = this.$refs.vueswing.stack.getCard(domElement)
      if (!card) {
        card = this.$refs.vueswing.stack.createCard(domElement)
      }
      this.showCardBack = !this.showCardBack
      if (this.showCardBack) {
        // card.throwIn(0, 0);
        card.destroy()
      }
    },
    skipQuestion() {
      if (this.nextCardIndex >= this.userAnswersByUser.length) {
        this.nextCardIndex = 0
      }
      this.$apollo.queries.userAnswersByUser.refetch()
    },
    previousQuestion() {
      let previousCardIndex = this.nextCardIndex - 2
      if (previousCardIndex < 0) {
        this.nextCardIndex = this.userAnswersByUser.length - 1
      } else {
        this.nextCardIndex = previousCardIndex
      }
      this.$apollo.queries.userAnswersByUser.refetch()
    },
    requestNewCard() {
      this.mailAddressSend = false

      let counter = 0
      if (this.nextCardIndex >= this.userAnswersByUser.length) {
        this.nextCardIndex = 0
        this.$apollo.queries.userAnswersByUser.refetch().then((data) => {
          data.data.userAnswersByUser.forEach((userAnswer) => {
            if (userAnswer.status === true) {
              counter += 1
            }
          })
          if (counter === this.userAnswersByUser.length) {
            this.pendingQuestions = counter
            this.showSuccessModal = true
          } else {
            this.pendingQuestions = counter
            this.showMissingModal = true
          }
        })
      } else {
        this.$apollo.queries.userAnswersByUser.refetch().then((data) => {
          data.data.userAnswersByUser.forEach((userAnswer) => {
            if (userAnswer.status === true) {
              counter += 1
            }
          })
          if (counter === this.userAnswersByUser.length) {
            this.pendingQuestions = counter
            this.showSuccessModal = true
          }
        })
      }
    },
    goToCard(index) {
      this.showCardBack = false
      this.cardStack.unshift(this.userAnswersByUser[index])
      this.cardStack.pop()
      this.nextCardIndex = index + 1
    },
    setAllowedDirections() {
      let directions =
        this.userAnswersByUser.length > 1 ? [VueSwing.Direction.UP, VueSwing.Direction.DOWN] : []
      switch (this.cardStack[0].__typename) {
        case "UserAnswerYesOrNoType":
          directions.push(VueSwing.Direction.LEFT)
          directions.push(VueSwing.Direction.RIGHT)
          break
        case "UserAnswerOpenType":
          break
        case "UserAnswerMultipleType":
          break
      }
      this.swingConfig.allowedDirections = directions
    },
  },
  mounted() {
    if (!this.pollAppStore.activePoll.pollName) {
      let urlParam = window.location.pathname.split("/")[1].toLowerCase()
      this.pollAppStore.setPoll(urlParam).then(() => {
        let pollLanguage = this.pollAppStore.activePoll.pollLanguage.toLowerCase()
        this.$i18n.locale = pollLanguage
        this.$validator.localize(pollLanguage, dictionary[pollLanguage])
      })
    }
  },
}
</script>

<style scoped lang="scss">
.inactive-overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // z-index: 1000;

  .inactive-icon {
    font-size: 15rem;
    color: #e4e7ed;
    margin-bottom: 1rem;
  }

  .inactive-text {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 600;
  }
}

.info-button {
  position: absolute;
  z-index: 999;
  right: 0.5rem;
  top: 3rem;
  background: #fff;
  border-radius: 50%;
  height: 2.9rem;
  width: 2.9rem;
  border: 0.16rem solid var(--primary-color);

  .info-icon {
    font-size: 2rem;
    font-weight: 400;
    color: var(--primary-color);
    line-height: 1;
  }
}

// .swing-wrapper {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   padding-bottom: 150%;
// }

.placeholder-card {
  z-index: 0;
  top: 10vh;
  position: absolute;
  height: calc(74vh - 1px);
  width: calc(88vw - 1px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #d9d9d9;
}

.loading {
  top: 0;
  position: absolute;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.25);
}
</style>
