<template>
  <div class="main-container">
    <div class="verification-screen-heading">{{ $t("email-verification.header") }}</div>
    <div v-if="user" class="verification-status">
      <i class="sl-icon icon-check icon-check__true"></i>
    </div>
    <div v-else class="verification-status">
      <i class="sl-icon icon-check icon-check__false"></i>
    </div>
    <BaseParagraph v-if="user">{{ $t("email-verification.text") }}</BaseParagraph>
    <BaseButton
      v-if="user && poll.pollRequiresRegistration"
      style="background: var(--secundary-color)"
      @click="login()"
      >{{ $t("navigation.btn-start-poll") }}</BaseButton
    >
  </div>
</template>

<script>
import { VERIFY_USER_EMAIL } from "vue-shared"
import { A_POLL } from "vue-shared"
import { JOIN_POLL } from "vue-shared"
import { GET_TOKEN } from "vue-shared"

export default {
  name: "verification-screen",

  data() {
    return {
      poll: {},
      pollCode: "",
      user: false,
    }
  },
  methods: {
    login() {
      this.$apollo
        .mutate({
          mutation: GET_TOKEN,
          variables: {
            username: this.user.username,
            password: process.env.VUE_APP_USER_PASSWORD,
          },
        })
        .then((data) => {
          const token = data.data.tokenAuth.token
          localStorage.setItem(process.env.VUE_APP_TOKEN_PREFIX + this.pollCode, token)
          if (localStorage.getItem(process.env.VUE_APP_TOKEN_PREFIX + this.pollCode)) {
            this.$router.push("/umfrage")
          }
        })
        .catch((error) => {
          console.error(error)
          // We restore the initial user input
        })
    },
    randomizeAndSwitchPoll() {
      let pollCode =
        this.poll.pollSet[Math.floor(Math.random() * this.poll.pollSet.length)].pollCode

      this.$apollo
        .mutate({
          mutation: JOIN_POLL,
          variables: {
            pollCode: pollCode,
          },
        })
        .then(() => {
          // localStorage.setItem(
          //   process.env.VUE_APP_TOKEN_PREFIX + pollCode,
          //   token
          // );
          setTimeout(() => {
            window.location = process.env.VUE_APP_URL + this.pollCode
          }, 50)
        })
        .catch((error) => {
          console.error(error)
          // We restore the initial user input
        })
    },
  },
  mounted() {
    this.pollCode = this.$route.params.poll_code
    const activation_key = this.$route.params.activation_key

    this.$apollo
      .query({
        query: A_POLL,
        variables: {
          pollCode: this.pollCode,
        },
      })
      .then((poll) => {
        this.poll = poll.data.aPoll
      })

    this.$apollo
      .mutate({
        mutation: VERIFY_USER_EMAIL,
        variables: {
          activationKey: activation_key,
          pollCode: this.pollCode,
        },
      })
      .then((data) => {
        setTimeout(() => (this.user = data.data.verifyUserEmail.user), 500)
      })
  },
}
</script>

<style lang="scss" scoped>
.verification-screen-heading {
  margin-top: 2rem;
  margin-bottom: 0.25rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}

.verification-status {
  margin: 1rem;

  .icon-check {
    font-size: 32vw;

    &__true {
      color: var(--secundary-color);
    }

    &__false {
      color: #cdcdcd;
    }
  }
}
</style>
