<template>
  <div class="tab-container">
    <el-tabs style="margin-left: -1rem" v-model="activeName" tab-position="left" type="">
      <el-tab-pane
        v-for="item in settingsTabMapOptions"
        :key="item.key"
        :label="item.label"
        :name="item.key"
        style="margin-left: 1rem"
      >
        <keep-alive>
          <component :ref="item.key" :is="item.component" />
        </keep-alive>
      </el-tab-pane>
    </el-tabs>
    <el-button
      :disabled="!unsavedChanges"
      class="save-settings-button"
      type="primary"
      @click="saveSettings()"
      >Einstellungen speichern
    </el-button>
  </div>
</template>

<script>
import { mapStores } from "pinia"
import { usePollStore } from "@/stores/polls"
import { useValidationStore } from "@/stores/validation"

import { UPDATE_POLL_SETTINGS } from "vue-shared"

export default {
  name: "Settings",
  data() {
    return {
      activeName: "general",
      unsavedChanges: false,
      settingsTabMapOptions: [
        {
          label: "Allgemein",
          key: "general",
          component: () => import("./General/General"),
        },
        {
          label: "Startseite",
          key: "startscreen",
          component: () => import("./Startscreen/Startscreen"),
        },
        {
          label: "Abschluss Aktion",
          key: "completion",
          component: () => import("./Completion/Completion"),
        },
        {
          label: "Rechtliches",
          key: "legal",
          component: () => import("./Legal/Legal"),
        },
      ],
    }
  },
  computed: {
    ...mapStores(usePollStore, useValidationStore),
  },
  watch: {
    activeName(val) {
      this.$router.push(`${this.$route.path}?tab=${val}`)
    },
    "pollStore.activePoll": {
      deep: true,
      handler() {
        this.unsavedChanges = true
      },
    },
  },
  methods: {
    saveSettings() {
      if (!this.validationStore.hasValidPollSettings()) {
        this.activeName = "legal"
        this.$notify({
          message: "Bitte alle Pflichtfelder ausfüllen!",
          showClose: true,
          duration: 3000,
          position: "bottom-left",
          type: "error",
        })
        return
      }

      const pendingPoll = this.pollStore.activePoll

      this.$apollo
        .mutate({
          mutation: UPDATE_POLL_SETTINGS,
          variables: {
            pollId: pendingPoll.id,
            // General
            pollStatus: pendingPoll.pollStatus,
            pollName: pendingPoll.pollName,
            pollDescription: pendingPoll.pollDescription | "",
            pollLanguage: pendingPoll.pollLanguage,
            pollColorPrimary: pendingPoll.pollColorPrimary,
            pollColorSecundary: pendingPoll.pollColorSecundary,
            // Startscreen
            pollStartscreen: pendingPoll.pollStartscreen,
            // Notifications
            pollMissingModal: pendingPoll.pollMissingModal,
            pollSuccessModal: pendingPoll.pollSuccessModal,
            pollSuccessButton: pendingPoll.pollSuccessButton,
            pollRedirectUrl: pendingPoll.pollRedirectUrl,
            pollRedirectBtnText: pendingPoll.pollRedirectBtnText,
            pollEmailUsage: pendingPoll.pollEmailUsage,
            pollEmailHeader: pendingPoll.pollEmailHeader,
            pollParticipationTerms: pendingPoll.pollParticipationTerms,
            // Info
            pollImpress: pendingPoll.pollImpress,
            pollSupport: pendingPoll.pollSupport,
            pollPrivacy: pendingPoll.pollPrivacy,
          },
        })
        .then(() => {
          this.unsavedChanges = false
          this.$notify({
            message: "Einstellungen gespeichert",
            showClose: true,
            duration: 1500,
            position: "bottom-left",
            type: "success",
          })
        })
        .catch((error) => {
          console.error(error)
        })
    },
  },
}
</script>

<style scoped>
.tab-container {
  max-width: 960px;
  margin-top: 30px;
}

.save-settings-button {
  margin: 1rem 0;
  float: right;
}
</style>
