<template>
  <div class="login-container">
    <el-form
      ref="loginForm"
      :model="loginForm"
      class="login-form"
      auto-complete="on"
      label-position="left"
    >
      <div class="login-logo-wrapper">
        <img class="login-logo" src="@/assets/askit_logo_weiss.png" />
      </div>
      <el-form-item prop="username">
        <span class="svg-container">
          <svg-icon icon-class="user" />
        </span>
        <el-input
          maxlength="50"
          ref="username"
          v-model="loginForm.username"
          placeholder="Accountname"
          name="username"
          type="text"
          tabindex="1"
          auto-complete="on"
          @input="loginError = false"
        />
      </el-form-item>

      <el-form-item prop="password">
        <span class="svg-container">
          <svg-icon icon-class="password" />
        </span>
        <el-input
          maxlength="50"
          :key="passwordType"
          ref="password"
          v-model="loginForm.password"
          :type="passwordType"
          placeholder="Passwort"
          name="password"
          tabindex="2"
          auto-complete="on"
          @keyup.enter.native="handleLogin()"
          @input="loginError = false"
        />
        <span class="show-pwd" @click="showPassword()">
          <svg-icon :icon-class="passwordType === 'password' ? 'eye' : 'eye-open'" />
        </span>
      </el-form-item>
    </el-form>

    <el-button
      class="login-btn"
      :loading="loading"
      type="primary"
      @click.native.prevent="handleLogin()"
      >Anmelden
    </el-button>

    <div v-if="loginError" class="login-error">Accountname oder Passwort inkorrekt.</div>

    <div class="reset-password" @click="requestResetMail()">Passwort vergessen?</div>
  </div>
</template>

<script>
import { useUserStore } from "@/stores/user"

export default {
  name: "login",
  data() {
    return {
      loginForm: {
        username: "",
        password: "",
      },

      loading: false,
      loginError: false,
      passwordType: "password",
      redirect: undefined,
    }
  },
  watch: {
    $route: {
      handler: function (route) {
        this.redirect = route.query && route.query.redirect
      },
      immediate: true,
    },
  },
  methods: {
    showPassword() {
      if (this.passwordType === "password") {
        this.passwordType = ""
      } else {
        this.passwordType = "password"
      }
      this.$nextTick(() => {
        this.$refs.password.focus()
      })
    },
    handleLogin() {
      this.loginError = false

      this.loading = true
      useUserStore()
        .login(this.loginForm)
        .then(() => {
          this.$router.push({ path: this.redirect || "/" })
          this.loading = false
        })
        .catch(() => {
          this.loginForm.password = ""
          this.loading = false
          this.loginError = true
        })
    },
    requestResetMail() {
      if (process.env.VUE_APP_URL == "http://5.75.249.107:8080/") {
        window.location = "http://5.75.249.107:8000/accounts/password_reset/"
      } else {
        window.location = process.env.VUE_APP_URL + "accounts/password_reset/"
      }
    },
  },
}
</script>

<style lang="scss">
$white: #fff;

@supports (-webkit-mask: none) and (not (cater-color: $white)) {
  .login-container .el-input input {
    color: $white;
  }
}

/* reset element-ui css */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .el-input {
    // display: inline-block;
    width: 80%;

    input {
      background: transparent;
      border: 0px;
      border-radius: 0px;
      // padding: 12px 5px 12px 15px;
      color: $white;
      height: 42px;
      caret-color: $white;

      &:-webkit-autofill {
        box-shadow: 0 0 0px 1000px #4744a8 inset !important;
        -webkit-text-fill-color: $white !important;
      }

      &::placeholder {
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }

  .el-form-item {
    border: 1px solid #fff;
    background: #4744a8;
    border-radius: 5px;
    color: #fff;

    .el-form-item__content {
      line-height: normal;
    }
  }
}
</style>

<style lang="scss" scoped>
$white: #fff;

.login-container {
  min-height: 100%;
  width: 100%;
  background-color: var(--primary-color);
  overflow: hidden;

  .login-form {
    width: 450px !important;
  }

  .login-btn {
    margin: 1rem 0;
    width: 160px;
    height: 52px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    background: var(--secundary-color);
  }

  .login-error {
    margin-top: 1rem;
    text-align: center;
    font-size: 14px;
    color: #f56c6c;
  }

  .reset-password {
    margin-top: 1rem;
    text-align: center;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
  }

  .login-form {
    position: relative;
    width: 520px;
    max-width: 100%;
    padding: 160px 35px 0;
    margin: 0 auto;
    overflow: hidden;
  }

  .svg-container {
    padding: 3px 5px 6px 15px;
    color: $white;
    vertical-align: middle;
    width: 30px;
    display: inline-block;
  }

  .login-logo-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 120px;

    .login-logo {
      width: 160px;
    }
  }

  .show-pwd {
    position: absolute;
    right: 10px;
    top: 14px;
    font-size: 16px;
    color: $white;
    cursor: pointer;
    user-select: none;
  }
}
</style>
