<template>
  <div class="padding-container">
    <div style="min-height: 600px">
      <el-table
        v-loading="$apollo.loading"
        :data="pollStore.activePoll.pollSuccessMails"
        fit
        height="600"
        style="width: 400px"
      >
        <el-table-column prop="email" label="E-Mail-Adresse" width="360"> </el-table-column>
      </el-table>
    </div>
    <el-button class="export-to-csv-btn" type="primary" @click="exportAsCSV" icon="el-icon-download"
      >E-Mail-Adressen als CSV exportieren</el-button
    >
  </div>
</template>

<script>
import { mapStores } from "pinia"
import { usePollStore } from "@/stores/polls"

import { successMailsToCSV } from "@/utils/csv-converter"

import { USER_POLLS } from "vue-shared"

export default {
  name: "Emails",

  computed: {
    ...mapStores(usePollStore),
  },
  apollo: {
    userPolls: {
      query: USER_POLLS,
      fetchPolicy: "network-only",
      variables() {
        return {
          pollId: this.pollStore.activePoll.id,
        }
      },
      update(data) {
        let submittedAddresses = []
        data.userPolls.forEach((userPoll) => {
          if (userPoll.successEmail != "") {
            submittedAddresses.push({ email: userPoll.successEmail })
          }
          this.pollStore.activePoll.pollSuccessMails = submittedAddresses
        })
      },
    },
  },
  methods: {
    exportAsCSV() {
      successMailsToCSV(
        this.pollStore.activePoll.pollSuccessMails,
        "E-Mail-Adressen – " + this.pollStore.activePoll.pollName
      )
    },
  },
}
</script>

<style lang="scss" scoped>
.export-to-csv-btn {
  margin: 1rem 0;
}
</style>
