<template>
  <el-tabs v-model="activeTab" type="border-card">
    <el-tab-pane
      v-for="item in tabMapOptions"
      :key="item.key"
      :label="item.label"
      :name="item.key"
      :lazy="true"
    >
      <keep-alive>
        <component :is="item.component" />
      </keep-alive>
    </el-tab-pane>
  </el-tabs>
</template>

<script>
import { mapStores } from "pinia"
import { useTierStore } from "@/stores/tier"

export default {
  name: "PollTabs",
  computed: {
    ...mapStores(useTierStore),
  },
  data() {
    return {
      activeTab: "questions",
      tabMapOptions: [
        {
          label: "Fragen",
          key: "questions",
          component: () => import("./questions/Questions"),
        },
        {
          label: "Auswertung",
          key: "analytics",
          component: () => import("./analytics/Analytics"),
        },
        {
          label: "Einstellungen",
          key: "settings",
          component: () => import("./settings/Settings"),
        },
      ],
    }
  },
  beforeMount() {
    if (this.tierStore.tier.endActions.includes("SEND_MAIL")) {
      this.tabMapOptions.push({
        label: "E-Mail-Adressen",
        key: "e-mail-adressen",
        component: () => import("./emails/Emails"),
      })
    }
  },
}
</script>
