<template>
  <div>
    <div class="question-container">
      <CardQuestionContainer :card="card" />
      <div class="choicebar">
        <div class="choice-container">
          <button @click="vote(answerValues.NO)" class="choice-button choice-button-no">
            {{ $t("question.yes-no.choice-no") }}
          </button>
          <button @click="vote(answerValues.YES)" class="choice-button choice-button-yes">
            {{ $t("question.yes-no.choice-yes") }}
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CardQuestionContainer from "./CardQuesitonContainer"

// GraphQL
import UPDATE_USER_ANSWER_YES_OR_NO from "../../graphql/userAnswers/updateUserAnswerYesOrNo.gql"

export default {
  name: "CardYesOrNo",
  props: ["card", "showCardBack", "throwOutEvent"],
  components: {
    CardQuestionContainer,
  },
  data() {
    return {
      answerValues: { NO: 0, YES: 1, NOTE: 2 },
      answerNote: this.card.answerNote,
      inputIsFocused: false,
    }
  },
  computed: {},
  methods: {
    throwOutRight() {
      this.vote(this.answerValues.YES)
    },
    throwOutLeft() {
      this.vote(this.answerValues.NO)
    },

    vote(value = -1) {
      this.saveCardAnswer(value, "")
    },
    makeNote(value = -1, note = "") {
      this.$validator.validateAll().then((result) => {
        if (!result) {
          return false
        } else {
          this.saveCardAnswer(value, note)
        }
      })
    },
    flipCard() {
      this.$emit("flip")
    },

    saveCardAnswer(value, note) {
      const questionId = this.card.question.id

      this.$apollo
        .mutate({
          mutation: UPDATE_USER_ANSWER_YES_OR_NO,
          variables: {
            questionId: questionId,
            answerValue: value,
            answerNote: note,
          },
        })
        .then(() => {
          this.$emit("cardrequest")
        })
    },
    focus() {
      this.inputIsFocused = true
      setTimeout(() => window.scrollTo(0, 0), 400)
    },
  },
}
</script>

<style scoped lang="scss">
.question-container {
  z-index: 50;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.backside-container {
  z-index: 50;
  font-size: 1rem;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  box-sizing: border-box;
  padding: 32px 20px;
}

.backside-header-icon {
  width: 1rem;
  font-size: 1.25rem;
  color: #555555;
}

.note-show-question {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 1.5rem;
  left: 1rem;
  height: 2.25rem;
  width: 2.25rem;
  background: #fff;
  color: #629ee4;
  border-radius: 50%;
  border: 1px solid #629ee4;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
}

.choicebar {
  display: flex;
  width: 100%;
  flex: 1;
  align-self: flex-end;
  justify-content: center;
  height: 16vh;
  background: rgba(255, 255, 255, 1);
  // box-shadow: 0 0 6px 0 rgba(0,0,0,0.25);
}

.choice-container {
  width: 100%;
  display: flex;
  padding-top: 1px;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  margin: 0 1rem;
}

.choice-button {
  font-size: 1.75rem;

  font-weight: 600;
  width: 100%;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 4px;
  color: #fff;

  &-no {
    background: #f14848;
  }

  &-yes {
    background: #50bd4e;
  }
}

.button-offset {
  margin-top: -1.6rem !important;
}
</style>
