<template>
  <div>
    <div v-show="!showCardBack" class="question-container">
      <CardQuestionContainer :card="card" />
      <div class="question-navigation">
        <BaseButton @click="flipCard()">{{ $t("question.open.btn-flip") }}</BaseButton>
      </div>
    </div>
    <!-- Back of Card where a note can be made an send (not dragable) -->
    <div v-show="showCardBack" class="backside-container">
      <BaseHeading :level="1" v-show="!inputIsFocused">
        <!-- <button class="backside-header-icon" @click="flipCard()"> -->
        <!-- <i class="sl-icon icon-arrow-left"></i> -->
        <!-- </button> -->
        {{ $t("question.open.text") }}
        <!-- <span class="placeholder-for-space-between" style="width: 1rem"></span> -->
      </BaseHeading>
      <BaseHeading :level="2" v-show="!inputIsFocused">{{
        card.question.questionText
      }}</BaseHeading>
      <BaseInputError v-show="errors.has('...')">{{ errors.first("...") }}</BaseInputError>
      <BaseTextarea
        :validation="{ hasError: errors.has('...') }"
        v-model="answerText"
        v-validate="{ required: true, min: 1, max: 250 }"
        data-vv-delay="1200"
        @focus="focus()"
        type="text"
        name="..."
      />
      <div class="note-show-question" v-show="inputIsFocused" @click="inputIsFocused = false">
        <i class="sl-icon icon-arrow-down note-show-question-icon"></i>
      </div>
      <BaseButton @click="sendAnswer(answerText)" class="button-offset">{{
        $t("question.open.btn-send")
      }}</BaseButton>
    </div>
  </div>
</template>

<script>
import CardQuestionContainer from "./CardQuesitonContainer"

// GraphQL
import UPDATE_USER_ANSWER_OPEN from "../../graphql/userAnswers/updateUserAnswerOpen.gql"

export default {
  name: "CardOpen",
  props: ["card", "showCardBack", "throwOutEvent"],
  components: {
    CardQuestionContainer,
  },
  data() {
    return {
      answerText: this.card.answerText,
      inputIsFocused: false,
    }
  },
  methods: {
    throwOutRight() {
      this.flipCard()
    },
    throwOutLeft() {
      this.flipCard()
    },

    sendAnswer() {
      this.$validator.validateAll().then((result) => {
        if (!result) {
          return false
        } else {
          this.saveCardAnswer(this.answerText)
        }
      })
    },
    flipCard() {
      this.$emit("flip")
    },

    saveCardAnswer(answer = -1) {
      const questionId = this.card.question.id

      this.$apollo
        .mutate({
          mutation: UPDATE_USER_ANSWER_OPEN,
          variables: {
            questionId: questionId,
            answerText: answer,
          },
        })
        .then(() => {
          this.$emit("cardrequest")
        })
    },
    focus() {
      this.inputIsFocused = true
      setTimeout(() => window.scrollTo(0, 0), 400)
    },
  },
}
</script>

<style scoped lang="scss">
.question-container {
  z-index: 50;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.backside-container {
  position: relative;
  z-index: 50;
  font-size: 1rem;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex: 1;
  box-sizing: border-box;
  padding: 32px 20px;
}

.backside-header-icon {
  // position: absolute;
  // left: 3vw;
  // top: 4.5vh;
  width: 1rem;
  font-size: 1.25rem;
  color: #555555;
}

.note-show-question {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 1.5rem;
  left: 1rem;
  height: 2.25rem;
  width: 2.25rem;
  background: #fff;
  color: var(--primary-color);
  border-radius: 50%;
  border: 1px solid var(--primary-color);
}

.question-navigation {
  flex: 1;
  min-height: 16%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: -1rem;
  background: rgba(255, 255, 255, 1);
  // box-shadow: 0 0 6px 0 rgba(0,0,0,0.25);
}

.button-offset {
  margin-top: -1.6rem !important;
}
</style>
