<template>
  <div>
    <!-- <div v-if='throwOutEvent.throwDirection.toString() === "Symbol(LEFT)"'>To the left</div>
      <div v-if='throwOutEvent.throwDirection.toString() === "Symbol(UP)"'>To the up</div>
                          <div v-if='throwOutEvent.throwDirection.toString() === "Symbol(DOWN)"'>To the down</div>-->
    <div v-show="!showCardBack" class="question-container">
      <CardQuestionContainer :card="card" />
      <div class="question-navigation">
        <BaseButton @click="flipCard()">{{ $t("question.multiple.btn-flip") }}</BaseButton>
      </div>
    </div>
    <!-- Back of Card where a note can be made an send (not dragable) -->
    <div v-show="showCardBack" class="backside-wrapper">
      <div class="backside-content">
        <BaseHeading :level="1">
          <!-- <button class="backside-header-icon" @click="flipCard()"> -->
          <!-- <i class="sl-icon icon-arrow-left"></i> -->
          <!-- </button> -->
          {{ $t("question.multiple.text") }}
          <!-- <span class="placeholder-for-space-between" style="width: 1rem"></span> -->
        </BaseHeading>
        <BaseHeading :level="2">{{ card.question.questionText }}</BaseHeading>

        <form ref="choiceForm" class="choice-form">
          <label
            :class="{
              'choice-form-option': true,
              'choice-form-option__active': currentChoice.includes(index),
            }"
            v-for="(option, index) in options"
            :key="index"
            :for="option"
          >
            <input
              type="checkbox"
              :id="option"
              name="choice"
              :value="index"
              v-model="currentChoice"
            />
            {{ option }}
          </label>
          <div class="scrollbar-gradient-space"></div>
        </form>
        <ScrollIndicator v-show="showScrollInidcator" />
      </div>
      <div class="question-navigation">
        <div class="scrollbar-gradient"></div>
        <BaseButton @click="makeChoice()">{{ $t("question.multiple.btn-send") }} </BaseButton>
      </div>
    </div>
  </div>
</template>

<script>
import CardQuestionContainer from "./CardQuesitonContainer"
import ScrollIndicator from "../ScrollIndicator"

// GraphQL
import UPDATE_USER_ANSWER_MULTIPLE from "../../graphql/userAnswers/updateUserAnswerMultiple.gql"

export default {
  name: "CardMultiple",
  props: ["card", "showCardBack", "throwOutEvent"],
  components: {
    CardQuestionContainer,
    ScrollIndicator,
  },
  data() {
    return {
      currentChoice: this.card.answerChoiceKeys ? this.card.answerChoiceKeys : [],
      showScrollInidcator: false,
    }
  },
  computed: {
    options() {
      return JSON.parse(this.card.question.options.replace(/&#44;/g, ",").replace(/'/g, '"'))
    },
  },
  methods: {
    throwOutRight() {
      this.flipCard()
    },
    throwOutLeft() {
      this.flipCard()
    },
    makeChoice() {
      this.saveCardAnswer(this.currentChoice)
    },
    flipCard() {
      this.$emit("flip")
      setTimeout(() => this.checkScrollHeight(), 100)
    },
    saveCardAnswer(choice = []) {
      const questionId = this.card.question.id

      this.$apollo
        .mutate({
          mutation: UPDATE_USER_ANSWER_MULTIPLE,
          variables: {
            questionId: questionId,
            answerChoiceKeys: choice,
          },
        })
        .then(() => {
          this.$emit("cardrequest")
        })
    },
    handleScroll() {
      if (this.getChoiceFormScrolled() < 20) {
        this.showScrollInidcator = false
      }
    },
    getChoiceFormScrolled() {
      let form = this.$refs.choiceForm
      var winScroll = form.scrollTop
      var height = form.scrollHeight - form.clientHeight
      return height - winScroll
    },
    checkScrollHeight() {
      if (this.getChoiceFormScrolled() > 20) {
        this.showScrollInidcator = true
      }
      this.$refs.choiceForm.addEventListener("scroll", this.handleScroll)
    },
  },
  mounted() {
    this.checkScrollHeight()
  },
  beforeDestroy() {
    this.$refs.choiceForm.removeEventListener("scroll", this.handleScroll)
  },
}
</script>

<style scoped lang="scss">
.scrollbar-gradient {
  position: absolute;
  top: -100px;
  height: 100px;
  width: 340px;
  background: linear-gradient(0deg, #fff 0%, rgba(0, 0, 0, 0) 100%);
  pointer-events: none;
}

.scrollbar-gradient-space {
  min-height: 60px;
  width: 1px;
}

.question-container {
  z-index: 50;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.backside-wrapper {
  z-index: 50;
  font-size: 1rem;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding: 32px 20px;

  .backside-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 4;
    min-height: 90%;
  }
}

.question-navigation {
  position: relative;
  flex: 1;
  min-height: 16%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: -1rem;
  background: rgba(255, 255, 255, 1);
  // box-shadow: 0 0 6px 0 rgba(0,0,0,0.25);
}

.backside-header-icon {
  width: 1rem;
  font-size: 1.25rem;
  color: #555555;
}

.choice-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  height: 100%;
  min-width: 245px;
  margin-bottom: 3vh;
  padding: 0px 7px 0px 11px;

  .choice-form-option {
    text-align: center;
    margin-top: 0.5rem;
    width: 220px;
    padding: 0.75rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 6px;

    border: 1px solid #d9d9d9;

    &__active {
      color: #fff;
      border: 1px solid var(--primary-color);
      background: var(--primary-color);
    }

    input {
      display: none;
    }
  }
}
</style>
