<template>
  <div>
    <el-button class="analytics-summary-btn" @click="openAnalyticsSummaryDialog()" type="primary">
      <i class="el-icon-download"></i>
      <span>
        {{
          filterStore.filterRulesSelectedOptions.length > 0
            ? "gefilterte Auswertung"
            : "Gesamtauswertung"
        }}
      </span>
    </el-button>
    <el-dialog
      @close="closeAnalyticsSummaryDialog()"
      title="Auswertung Zusammenfassung:"
      :visible.sync="analyticsStore.showSummaryDialog"
      width="500px"
      top="15vh"
      :close-on-click-modal="false"
    >
      <div class="analytics-summary-dialog">
        <el-button
          v-if="!analyticsStore.summaryPDFChartIndex"
          @click="generateAnalyticsSummaryPDF()"
          type="primary"
        >
          Zusammenfassung generieren
        </el-button>
        <div
          v-else-if="
            analyticsStore.summaryPDFChartIndex != questionStore.questions.length &&
            analyticsStore.summaryPDFChartIndex
          "
          class="analytics-summary-counter-container"
        >
          <div class="analytics-summary-counter-text">PDF wird erstellt</div>
          <div class="analytics-summary-counter-count">
            {{ analyticsStore.summaryPDFChartIndex }} / {{ questionStore.questions.length }}
          </div>
        </div>
        <el-button v-else @click="downloadSummaryPDF()" type="primary">
          Zusammenfassung PDF herunterladen
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { mapStores } from "pinia"
import { usePollStore } from "@/stores/polls"
import { useQuestionStore } from "@/stores/questions"
import { useAnalyticsStore } from "@/stores/analytics"
import { useFilterStore } from "@/stores/filter"

import { jsPDF } from "jspdf"
import { chartToPDF, wordcloudToPDF } from "@/utils/charts"

export default {
  name: "AnalyticsSummary",
  computed: {
    ...mapStores(useQuestionStore, useAnalyticsStore, useFilterStore),
  },
  data() {
    return {}
  },
  methods: {
    openAnalyticsSummaryDialog() {
      this.analyticsStore.$patch({
        showSummaryDialog: true,
        isGeneratingSummary: true,
      })
    },
    closeAnalyticsSummaryDialog() {
      this.analyticsStore.$patch({
        showChartDialog: false,
        showSummaryDialog: false,
        isGeneratingSummary: false,
      })
    },
    generateAnalyticsSummaryPDF() {
      this.analyticsStore.summaryPDFChartIndex = 0
      this.analyticsStore.summaryPDF = new jsPDF({
        orientation: "l",
        unit: "px",
        format: "a4",
        putOnlyUsedFonts: true,
        floatPrecision: 16, // or "smart", default is 16
      })
      this.addChartToSummary()
    },
    downloadSummaryPDF() {
      this.closeAnalyticsSummaryDialog()
      this.analyticsStore.summaryPDF.save(`${usePollStore().activePoll.pollName} Auswertung`)
    },
    addChartToSummary(index = 0) {
      const pendingQuestion = this.analyticsStore.userAnswerCollection.question

      this.analyticsStore
        .getUserAnswersByQuestion(index, this.questionStore.questions[index])
        .then(() => {
          if (pendingQuestion.questionType != "Open") {
            let positionDict = {
              Single: [25, 100],
              Multiple: [25, 100],
              YesOrNo: [200, 110],
              Range: [90, 120],
            }
            chartToPDF(
              pendingQuestion.questionType,
              ...positionDict[pendingQuestion.questionType],
              `${pendingQuestion.questionPosition} ${pendingQuestion.questionText}`,
              this.analyticsStore.summaryPDF
            )
          } else {
            wordcloudToPDF(
              "wordCloud",
              0,
              100,
              `${pendingQuestion.questionPosition} ${pendingQuestion.questionText}`,
              this.analyticsStore.summaryPDF
            )
          }
          if (index < this.questionStore.questions.length - 1) {
            this.analyticsStore.summaryPDF.addPage()
            // Function calls itself recursively until all Charts are added.
            this.addChartToSummary(++index)
          }
          this.analyticsStore.summaryPDFChartIndex++
        })
    },
  },
}
</script>

<style scoped lang="scss">
.analytics-summary-btn {
  position: absolute;
  top: 30px;
  right: 40px;

  i {
    font-size: 1.3rem;
    margin-right: 10px;
  }

  span {
    position: relative;
    bottom: 2px;
  }
}
.analytics-summary-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;

  .analytics-summary-counter-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    .analytics-summary-counter-text {
      font-size: 1rem;
      font-weight: 500;
    }

    .analytics-summary-counter-count {
      margin-top: 0.5rem;
      font-size: 1.3rem;
      color: var(--primary-color);
    }
  }
}
</style>
