<template>
  <el-dialog
    :style="{ visibility: chartVisibily() }"
    v-if="analyticsStore.showChartDialog"
    :modal="!analyticsStore.showSummaryDialog"
    title="Auswertung:"
    :visible.sync="analyticsStore.showChartDialog"
    :width="dialogWidth"
    top="15vh"
  >
    <div v-loading="analyticsStore.isLoadingChart" class="analytics-charts">
      <div v-if="analyticsStore.isLoadingChart" class="analytics-loading"></div>
      <h3>
        {{ analyticsStore.userAnswerCollection.question.questionPosition }}.
        {{ analyticsStore.userAnswerCollection.question.questionText }}
      </h3>
      <div v-if="!analyticsStore.isLoadingChart">
        <AnalyticsChartSingleAndMultiple
          v-if="questionType == 'Multiple' || questionType == 'Single'"
          :userAnswerCollection="analyticsStore.userAnswerCollection"
        />
        <AnalyticsChartYesOrNo
          v-else-if="questionType == 'YesOrNo'"
          :userAnswerCollection="analyticsStore.userAnswerCollection"
        />
        <AnalyticsChartOpen
          v-else-if="questionType == 'Open'"
          :userAnswerCollection="analyticsStore.userAnswerCollection"
        />
        <AnalyticsChartRange
          v-else-if="questionType == 'Range'"
          :userAnswerCollection="analyticsStore.userAnswerCollection"
        />
      </div>
    </div>
  </el-dialog>
</template>

<script>
import Chart from "chart.js"
Chart.defaults.global.defaultFontSize = 16
Chart.defaults.global.defaultFontColor = "#303133"
Chart.defaults.global.animation.duration = 0
Chart.defaults.scale.ticks.beginAtZero = true

import AnalyticsChartSingleAndMultiple from "./AnalyticsChartSingleAndMultiple"
import AnalyticsChartOpen from "./AnalyticsChartOpen"
import AnalyticsChartYesOrNo from "./AnalyticsChartYesOrNo"
import AnalyticsChartRange from "./AnalyticsChartRange"

import { mapStores } from "pinia"
import { useAnalyticsStore } from "@/stores/analytics"
import { useWordcloudStore } from "@/stores/wordcloud"

export default {
  name: "AnalyticsChart",
  components: {
    AnalyticsChartSingleAndMultiple,
    AnalyticsChartOpen,
    AnalyticsChartYesOrNo,
    AnalyticsChartRange,
  },
  computed: {
    ...mapStores(useAnalyticsStore),
    dialogWidth() {
      return useWordcloudStore().showWordcloudEditor && this.questionType == "Open"
        ? "1200px"
        : "900px"
    },
    questionType() {
      return this.analyticsStore.userAnswerCollection.question.questionType
    },
  },
  methods: {
    chartVisibily() {
      // Hiddes the chart dialog from the user, but keeps it inside the DOM,
      // because the Canvas of the Chart needs to be rendered in the DOM to be exportable as PDF.
      // Basically creating the summary is opening/rendering every chart individually via loop and adding it to the PDF.
      // Just hidden from the user.
      return useAnalyticsStore().isGeneratingSummary ? "hidden" : "visible"
    },
  },
}
</script>

<style scoped lang="scss">
.analytics-charts {
  min-height: 400px;
}

.analytics-loading {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}
</style>
