<template>
  <el-dialog
    v-if="filterStore.showFilterDialog && tierStore.tier.conditionalAnalysis"
    title="Filter Einstellungen:"
    :visible.sync="filterStore.showFilterDialog"
    @close="filterStore.closeFilterSettings()"
    width="800px"
    top="15vh"
  >
    <div class="filter-question-dialog">
      <span> Alle Anworten werden nach den unten festgelegten Bedingungen gefiltert. </span>
      <el-form>
        <br />
        <div class="filter-question">
          <el-form-item label="Frage" prop="filterStore.filterRulesQuestion">
            <el-select
              class="filter-question-selector"
              v-model="filterStore.filterRulesQuestion"
              placeholder="Frage wählen"
              filterable
              @change="filterStore.filterRulesSelectedOptions = []"
            >
              <el-option-group
                v-for="group in filterStore.filterQuestionGroup"
                :key="group.label"
                :label="group.label"
              >
                <el-option
                  style="max-width: 800px"
                  v-for="question in group.questions"
                  :key="question.value"
                  :label="question.label"
                  :value="question"
                  :disabled="question.disabled"
                ></el-option>
              </el-option-group>
            </el-select>
          </el-form-item>

          <el-form-item
            :label="filterStore.filterRulesQuestion.type == 'YesOrNo' ? 'Antwort' : 'Antworten'"
            prop="filterStore.filterRulesSelectedOptions"
          >
            <el-select
              class="filter-option-selector"
              v-model="filterStore.filterRulesSelectedOptions"
              placeholder="Antwort wählen"
              no-data-text="Keine Frage ausgewählt"
              multiple
              :multiple-limit="filterStore.filterRulesQuestion.type == 'YesOrNo' ? 1 : 0"
              @change="filterStore.showFilterSettingsMissing = false"
            >
              <el-option
                v-for="option in filterStore.filterRulesQuestion.choiceValues"
                :key="option.value"
                :label="option.label"
                :value="option"
                :disabled="option.disabled"
              ></el-option>
            </el-select>
            <div style="color: #f56c6c" v-if="filterStore.showFilterSettingsMissing">
              Bedingungen unvollständig.
            </div>
          </el-form-item>
        </div>
      </el-form>
      <footer class="filter-question-button">
        <el-button
          style="margin: 1rem 1rem -1rem 0"
          type="default"
          @click="filterStore.closeFilterSettings()"
          >Abbrechen
        </el-button>
        <el-button
          style="margin: 1rem 1rem -1rem 0"
          type="primary"
          @click="filterStore.applyFilter((reset = false))"
        >
          Filter anwenden</el-button
        >
      </footer>
    </div>
  </el-dialog>
</template>

<script>
import { mapStores } from "pinia"
import { useTierStore } from "@/stores/tier"
import { useFilterStore } from "@/stores/filter"

export default {
  name: "AnalyticsFilterSettings",
  data() {
    return {}
  },
  computed: {
    ...mapStores(useTierStore, useFilterStore),
  },
  methods: {},
}
</script>

<style lang="scss" scoped>
.filter-question-dialog {
  margin: -1.5rem 0 1rem 2rem;

  .filter-question-button {
    display: flex;
    justify-content: space-between;
    align-items: right;
  }
}

.filter-question {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .filter-question-selector {
    margin-right: 16px;
    width: 600px;
  }

  .filter-option-selector {
    width: 600px;
  }
}
</style>
