<template>
  <div v-if="!$apollo.loading" class="padding-container">
    <AnalyticsFilter />
    <AnalyticsSummary />
    <AnalyticsList />
    <AnalyticsChart />
  </div>
</template>

<script>
import AnalyticsFilter from "./AnalyticsFilter"
import AnalyticsSummary from "./AnalyticsSummary"
import AnalyticsList from "./AnalyticsList"
import AnalyticsChart from "./AnalyticsChart"

import { mapStores } from "pinia"
import { useAnalyticsStore } from "@/stores/analytics"
import { useFilterStore } from "@/stores/filter"

export default {
  name: "Analytics",
  components: {
    AnalyticsFilter,
    AnalyticsSummary,
    AnalyticsList,
    AnalyticsChart,
  },
  computed: {
    ...mapStores(useAnalyticsStore, useFilterStore),
  },
  data() {
    return {}
  },
  watch: {
    "pollStore.activePoll.id": function (_newPoll, _oldPoll) {
      this.analyticsStore.$reset()
      this.filterStore.$reset()
    },
  },
  methods: {},
  beforeMount() {
    this.filterStore.populateFilterOptions()
  },
}
</script>
