<template>
  <div>
    <div class="container">
      <div
        class="filter_button"
        v-if="!pollStore.activePoll.pollFilterQuestionId"
        @click="filterStore.openFilterSettings()"
        type="primary"
      >
        <i class="el-icon-s-operation"></i>
        <span> Auswertung Filtern </span>
      </div>
      <h2 v-else>Filter aktiv</h2>
    </div>

    <AnalyticsFilterApplied />
    <AnalyticsFilterSettings />
  </div>
</template>

<script>
import { mapStores } from "pinia"
import { usePollStore } from "@/stores/polls"
import { useFilterStore } from "@/stores/filter"

import AnalyticsFilterApplied from "./AnalyticsFilterApplied"
import AnalyticsFilterSettings from "./AnalyticsFilterSettings"

export default {
  name: "AnalyticsFilter",
  components: { AnalyticsFilterApplied, AnalyticsFilterSettings },
  data() {
    return {}
  },
  computed: {
    ...mapStores(usePollStore, useFilterStore),

    showFilterResults() {
      return this.pollStore.activePoll.pollFilterQuestionId && !this.filterStore.showFilterDialog
    },
  },
  methods: {},
}
</script>

<style scoped lang="scss">
.filter_button {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.2rem;

  span {
    margin-top: 5px;
  }

  i {
    font-size: 1.8rem;
    margin-right: 20px;
  }

  &:hover {
    color: var(--primary-color);
  }
}
</style>
