<template>
  <el-table :data="questionStore.questions" row-key="id" fit style="width: 100%; margin-top: 1rem">
    <el-table-column align="center" label="Position" width="80px">
      <template slot-scope="scope">
        {{ scope.$index + 1 }}
      </template>
    </el-table-column>

    <el-table-column min-width="250px" label="Frage">
      <template slot-scope="scope">
        <div @click="analyticsStore.getUserAnswersByQuestion(scope.$index, scope.row)">
          {{ scope.row.questionText }}
        </div>
      </template>
    </el-table-column>

    <el-table-column align="right" min-width="60px" label="Typ">
      <template slot-scope="scope">
        <div @click="analyticsStore.getUserAnswersByQuestion(scope.$index, scope.row)">
          {{ questionTypeMap[scope.row.questionType] }}
        </div>
      </template>
    </el-table-column>

    <el-table-column width="60px">
      <template slot-scope="scope">
        <i
          v-if="scope.row.questionType == 'Open'"
          class="el-icon-cloudy analytics-icon"
          @click="analyticsStore.getUserAnswersByQuestion(scope.$index, scope.row)"
        ></i>
        <i
          v-else-if="scope.row.questionType == 'YesOrNo'"
          class="el-icon-pie-chart analytics-icon"
          @click="analyticsStore.getUserAnswersByQuestion(scope.$index, scope.row)"
        ></i>
        <i
          v-else
          class="el-icon-data-analysis analytics-icon"
          @click="analyticsStore.getUserAnswersByQuestion(scope.$index, scope.row)"
        ></i>
      </template>
    </el-table-column>
  </el-table>
</template>

<script>
import { mapStores } from "pinia"
import { useAnalyticsStore } from "@/stores/analytics"
import { useQuestionStore } from "@/stores/questions"

export default {
  name: "AnalyticsList",
  computed: {
    ...mapStores(useAnalyticsStore, useQuestionStore),
  },
  data() {
    return {
      questionTypeMap: {
        YesOrNo: "Ja/Nein",
        Single: "Einfachauswahl",
        Multiple: "Mehrfachauswahl",
        Range: "Skala",
        Open: "Freitext",
      },
    }
  },
}
</script>

<style scoped lang="scss">
.analytics-icon {
  font-size: 1.5rem;
  color: #d4d4d4;
  cursor: pointer;
}
</style>
