<template>
  <div>
    <div class="pie-chart-container">
      <PieChart :options="chartOptions" :chart-data="dataCollection"></PieChart>
    </div>

    <ExportButtons :userAnswerCollection="userAnswerCollection" :labels="null" />
  </div>
</template>

<script>
import ExportButtons from "@/components/ExportButtons/ExportButtons.vue"
import PieChart from "./charts/PieChart"

export default {
  name: "AnalyticsChartYesOrNo",
  components: {
    PieChart,
    ExportButtons,
  },
  props: ["userAnswerCollection"],
  data() {
    return {
      chartOptions: {},
      dataYesOrNo: [],
    }
  },
  computed: {
    dataCollection() {
      return {
        labels: ["Ja", "Nein"],
        datasets: [
          {
            backgroundColor: ["#6662F0", "#B2B0F7"],
            borderWidth: 0,
            data: this.dataYesOrNo,
          },
        ],
      }
    },
  },
  beforeMount() {
    console.log("mount yes no")
    this.dataYesOrNo = this.userAnswerCollection.userAnswersCounted.reverse()

    this.chartOptions = {
      title: {
        display: true,
        position: "bottom",
        padding: 10,
        fontStyle: "400",
        text: `von ${this.userAnswerCollection.participantsCount} Antworten`,
      },
      tooltips: {
        enabled: true,
      },
      legend: {
        position: "right",
      },
      maintainAspectRatio: false,
      responsive: true,
      devicePixelRatio: 2,
      plugins: {
        datalabels: {
          font: {
            weight: "bold",
          },
          color: "#000",
          anchor: "center",
          formatter: (value, ctx) => {
            let sum = 0
            let dataArr = ctx.chart.data.datasets[0].data
            dataArr.map((data) => {
              sum += data
            })
            let percentage = ((value * 100) / sum).toFixed(0)
            if (percentage == 0) {
              return ""
            }
            return percentage + "%"
          },
        },
      },
    }
  },
}
</script>

<style lang="scss" scoped>
.pie-chart-container {
  margin: 2rem;

  > div {
    position: relative;
    height: 350px;
    width: 370px;
  }
}
</style>
