<template>
  <div v-if="showFilterResults">
    <!-- <div class="filter-box-header">Filter aktiv</div> -->
    <div class="filter-box-wrapper">
      <div class="filter-box">
        <div class="filter-box-item">
          <div class="item-label">Frage:</div>
          <span class="item-text">{{ filterStore.filterRulesQuestion.label }}</span>
        </div>
        <div class="filter-box-item">
          <div class="item-label">
            <!-- {{ filterStore.filterRulesQuestion.type == "YesOrNo" ? "Antwort" : "Antworten" }}: -->
            {{ filterStore.filterRulesSelectedOptions.length > 1 ? "Antworten" : "Antwort" }}:

            {{
              filterStore.filterRulesSelectedOptions.length > 1
                ? "(nur eine der Antworten muss zutreffen, um als Treffer zu gelten)"
                : ""
            }}
          </div>
          <el-tag
            v-for="answer in filterStore.filterRulesSelectedOptions"
            :key="answer.value"
            type="info"
            class="filter-question-tag"
            >{{ answer.label }}</el-tag
          >
        </div>
        <div class="filter-box-item">
          <div class="item-label">Treffer:</div>
          <span class="item-text"
            >{{ pollStore.activePoll.pollFilterQuestionUserIds.length }} Teilnehmende</span
          >
        </div>
      </div>
      <div class="filter-box-buttons">
        <el-button
          @click="filterStore.openFilterSettings()"
          class="filter-edit-button"
          type="primary"
          icon="el-icon-edit"
        >
          Bearbeiten</el-button
        >

        <el-button
          @click="filterStore.applyFilter((reset = true))"
          class="filter-delete-button"
          icon="el-icon-delete"
        >
        </el-button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapStores } from "pinia"
import { usePollStore } from "@/stores/polls"
import { useFilterStore } from "@/stores/filter"

export default {
  name: "AnalyticsFilterApplied",
  components: {},
  data() {
    return {}
  },
  computed: {
    ...mapStores(usePollStore, useFilterStore),

    showFilterResults() {
      return this.pollStore.activePoll.pollFilterQuestionId && !this.filterStore.showFilterDialog
    },
  },
  methods: {},
}
</script>

<style lang="scss" scoped>
.filter-box-header {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 1rem 0;
}

.filter-box-wrapper {
  position: relative;
  background: #f7f7fe;
  border: 1px solid var(--primary-color);
  color: var(--text-color);
  line-height: 1.3;
  font-size: 0.95rem;
  padding: 1rem;

  box-shadow: none !important;
  border-radius: 4px;
  // max-width: 600px;
  margin-bottom: 1rem;

  .filter-box {
    hyphens: auto;
    word-break: normal;

    .filter-box-item {
      margin-top: 0.5rem;

      .item-label {
        margin: 0.5rem 0 0.25rem 0;

        &:after {
          content: "\A";
          white-space: pre-wrap;
        }
      }

      .item-text {
        font-size: 1rem;
        font-weight: 600;
      }
    }
  }

  .filter-box-buttons {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    flex-direction: rows;
    justify-content: space-between;

    .filter-delete-button {
      background: #fff;
      border: 1px solid #dcdfe6;
      color: #606266;

      &:hover {
        color: var(--primary-color);
        border: 1px solid var(--primary-color);
      }
    }
  }

  .filter-question-tag {
    background: #fff;
    font-size: 95%;
    border: 1px solid var(--primary-color);
    color: #606266;
    margin: 0 4px 4px 0;
  }
}
</style>
