<template>
  <div>
    <div class="horizontalbar-chart-container">
      <HorizontalBarChart :options="chartOptions" :chart-data="dataCollection"></HorizontalBarChart>
    </div>
    <ExportButtons :userAnswerCollection="userAnswerCollection" :labels="labels" />
  </div>
</template>

<script>
import HorizontalBarChart from "./charts/HorizontalBarChart"
import ExportButtons from "@/components/ExportButtons/ExportButtons"

export default {
  name: "AnalyticsChartSingleAndMultiple",
  components: {
    HorizontalBarChart,
    ExportButtons,
  },
  props: ["userAnswerCollection"],
  data() {
    return {
      chartOptions: {},
      labels: [],
      chartData: [],
    }
  },
  computed: {
    dataCollection() {
      return {
        labels: this.labels,
        datasets: [
          {
            label: "",
            backgroundColor: "#6662F0",
            data: this.chartData,
          },
        ],
      }
    },
  },
  beforeMount() {
    this.labels = this.userAnswerCollection.formatedOptions.map((option) => {
      let maxLength = 7
      let words = option.split(" ")
      if (words.length > maxLength) {
        return [words.slice(0, maxLength).join(" "), words.slice(maxLength, words.length).join(" ")]
      } else {
        return [option]
      }
    })

    this.chartData = this.userAnswerCollection.userAnswersCounted

    this.chartOptions = {
      title: {
        display: true,
        position: "bottom",
        padding: 10,
        fontStyle: "400",
        text: `von ${this.userAnswerCollection.participantsCount} Antworten`,
      },
      legend: {
        display: false,
      },
      maintainAspectRatio: false,
      responsive: true,
      devicePixelRatio: 2,
      plugins: {
        datalabels: {
          font: {
            weight: "bold",
          },
          color: "#000",
          align: "end",
          anchor: "start",
          formatter: (value, ctx) => {
            let percentage = ((value * 100) / this.userAnswerCollection.participantsCount).toFixed(
              0
            )
            if (percentage == 0) {
              return ""
            }
            return percentage + "%"
          },
        },
      },
      scales: {
        xAxes: [
          {
            ticks: {
              callback: function (value) {
                if (value % 1 === 0) {
                  return value
                }
              },
            },
          },
        ],
      },
    }
  },
}
</script>

<style lang="scss" scoped>
.horizontalbar-chart-container {
  > div {
    position: relative;
    height: 360px;
    min-width: 800px;
    max-width: 800px;
  }
}
</style>
