<template>
  <el-form-item :label="label">
    <div class="option-input-container">
      <el-input
        class="option-input"
        v-for="(option, index) in options"
        :key="index"
        v-model="option.value"
        maxlength="60"
        show-word-limit
      >
        <i
          @click="deleteEntry(index, options)"
          slot="suffix"
          class="el-input__icon el-icon-delete"
        ></i>
      </el-input>

      <el-button
        v-show="options.length < maxOptions"
        @click="addEntry()"
        type="primary"
        icon="el-icon-plus"
      >
        Hinzufügen
      </el-button>
    </div>
  </el-form-item>
</template>

<script>
export default {
  name: "QuestionAddFormOptions",
  props: {
    label: {
      type: String,
      default: "",
    },
    options: {
      type: Array,
      required: true,
    },
    maxOptions: {
      type: String,
      default: "5",
    },
  },
  methods: {
    addEntry() {
      if (this.options.length < parseInt(this.maxOptions)) {
        this.options.push({ value: "" })
      }
      if (this.options.length > 1 && this.options[this.options.length - 2].value == "") {
        this.options[this.options.length - 2].value = `#${(this.options.length - 1).toString()}`
      }
    },
    deleteEntry(index) {
      this.options.splice(index, 1)
    },
  },
}
</script>

<style lang="scss" scoped>
.option-input-container {
  display: flex;
  width: 100%;
  margin-bottom: 0.5rem;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1.3em 1rem;

  .option-input {
    width: 17rem;
    height: 2rem;
  }
}
</style>
