<template>
  <div @click="showDialog()" class="add-button-container">
    <el-button icon="el-icon-plus" type="primary"> Frage hinzufügen </el-button>
  </div>
</template>

<script>
import { useQuestionStore } from "@/stores/questions"

export default {
  name: "QuestionAddBtn",

  methods: {
    showDialog() {
      useQuestionStore().showQuestionTypeDialog()
    },
  },
}
</script>

<style lang="scss" scoped>
.add-button-container {
  z-index: 100;
}
</style>
