<template>
  <el-dialog
    title="Fragetyp:"
    :visible.sync="questionStore.dialogQuestionTypeChoiceVisible"
    width="300px"
    top="15vh"
  >
    <div class="select-question-type-dialog">
      <el-button
        v-for="(value, key) in questionStore.questionTypeMap"
        :key="key"
        @click="questionStore.handleCreateQuestion(key)"
        class="select-question-type-button"
        >{{ value }}</el-button
      >
    </div>
  </el-dialog>
</template>

<script>
import { mapStores } from "pinia"
import { useQuestionStore } from "@/stores/questions"

export default {
  name: "QuestionAddTypeChooser",
  computed: {
    ...mapStores(useQuestionStore),
  },
}
</script>

<style lang="scss" scoped>
.select-question-type-dialog {
  display: flex;
  flex-direction: column;
  align-items: center;

  .select-question-type-button {
    width: 80%;
    margin: 0 0 0.5rem 0;
  }
}
</style>
