<template>
  <div v-if="!$apollo.loading" class="padding-container">
    <QuestionAddBtn />
    <QuestionCounter />
    <QuestionList />

    <QuestionAddTypeSelector />
    <QuestionAddForm />
  </div>
</template>

<script>
import QuestionCounter from "./QuestionCounter"
import QuestionAddBtn from "./QuestionAddBtn"
import QuestionList from "./QuestionList"
import QuestionAddTypeSelector from "./QuestionAddTypeSelector"
import QuestionAddForm from "./QuestionAddForm"

export default {
  name: "Questions",
  components: {
    QuestionCounter,
    QuestionAddBtn,
    QuestionList,
    QuestionAddTypeSelector,
    QuestionAddForm,
  },
}
</script>
