<!-- templates/registration/password_reset_done.html -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/password_reset.css' %}">

<title>{% block title %}Email Sent{% endblock %}</title>

{% block content %}
<h1>Check dein E-Mail Postfach!</h1>
<p>  Wir haben dir einen Link zum Zurücksetzen deines Passworts geschickt.
  <br>Schau zur Sicherheit auch im
  Spam-Ordern nach.</p>


{% endblock %}