<!-- templates/registration/password_reset_complete.html -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/password_reset.css' %}">
<title>{% block title %}Passwort erfolgreich festgelegt{% endblock %}</title>
{% block content %}
<h1>Passwort erfolgreich festgelegt!</h1>

<form action="{% url 'admin' %}">
  <button type="submit">Anmelden</button>
</form>

{% endblock %}