<!-- templates/registration/password_reset_confirm.html -->
{% load static %}
<link rel="stylesheet" href="{% static 'css/password_reset.css' %}">

<title>{% block title %}Passwort festlegen{% endblock %}</title>

{% block content %}

{% if validlink %}

<h1>Passwort festlegen!</h1>
<form method="POST">
  {% csrf_token %}
  <div class="form-items-container">
    {{ form }}
  </div>
  <button type="submit">Passwort festlegen</button>
</form>

{% else %}

<p>Dieser Link zum setzten das Passwortes wurde bereits genutzt und ist daher ist ungültig. Bitte erstelle eine neue Anfrage. </p>

{% endif %}
{% endblock %}

<script>document.getElementById("id_new_password1").placeholder = "Passwort eingeben";</script>
<script>document.getElementById("id_new_password2").placeholder = "Passwort erneut eingeben";</script>
