<template>
  <div class="main-container">
    <WelcomeCodePrompt v-if="showCodePrompt" />

    <div v-else-if="showStartscreen" class="startscreen-container-outer">
      <StartscreenContent :content="pollAppStore.activePoll.pollStartscreen" />

      <BaseButton
        class="startscreen-btn"
        style="margin-top: -0rem"
        :disabled="pollAppStore.activePoll.pollStatus == 'INACTIVE'"
        @click="pollAppStore.startPoll()"
        >{{ startButtonText }}</BaseButton
      >
      <span class="link" @click="showImpress = true">{{ $t("impress-privacy") }}</span>
    </div>
    <Modal v-if="showImpress" @close="showImpress = false" :closebutton="true">
      <Info :poll="pollAppStore.activePoll" />
    </Modal>

    <WelcomeModalTan />
  </div>
</template>

<script>
import { mapStores } from "pinia"
import { usePollAppStore } from "@/stores/poll"

import WelcomeCodePrompt from "./WelcomeCodePrompt"
import WelcomeModalTan from "./WelcomeModalTan"

import { Modal } from "vue-shared"
import { Info } from "vue-shared"
import { StartscreenContent } from "vue-shared"

export default {
  name: "Welcome",
  components: { WelcomeCodePrompt, WelcomeModalTan, Modal, Info, StartscreenContent },
  computed: {
    ...mapStores(usePollAppStore),

    requiresTan() {
      if (this.pollAppStore.activePoll.pollRequiresTan) {
        return this.tanVerified
      }
      return true
    },
    startButtonText() {
      if (this.pollAppStore.activePoll.pollStatus != "INACTIVE") {
        if (this.pollAppStore.activePoll.pollRequiresTan && !this.tanVerified) {
          return this.$t("navigation.btn-tan")
        } else if (this.tanVerified) {
          return this.$t("navigation.btn-continue")
        } else {
          return this.$t("navigation.btn-start-poll")
        }
      } else {
        return this.$t("navigation.btn-ended-poll")
      }
    },
  },
  data() {
    return {
      showCodePrompt: false,
      showStartscreen: false,
      showImpress: false,
    }
  },
  beforeMount() {
    let pollCodeParam = window.location.pathname.split("/")[1].toLowerCase()

    this.pollAppStore
      .setPoll(pollCodeParam)
      .then(() => {
        this.$i18n.locale = this.pollAppStore.activePoll.pollLanguage.toLowerCase()
        this.showStartscreen = true
      })
      .catch(() => {
        this.pollAppStore.code.pendingPollCode = pollCodeParam
        this.showCodePrompt = true
        if (pollCodeParam) {
          this.pollAppStore.code.showPollCodeInvalidMessage = true
        }
      })
  },
}
</script>

<style lang="scss">
.modal-input {
  pointer-events: auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  width: 50%;
  margin: 0.5rem 0;
  padding: 0.5rem 0.1rem;
  font-size: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.5rem;
  box-sizing: border-box;
  background: #fefefe;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.25);
  border-radius: 0.75vw;

  &::placeholder {
    color: #dddddd;
  }
}
.startscreen-btn {
  color: #fff;
  font-size: 1rem;
}
</style>

<style lang="scss" scoped>
.startscreen-container-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  min-height: 100vh;
  min-width: 100%;
  padding: 0.5rem 2rem 3rem 2rem;
  background: var(--secondary-color);
}

.link {
  margin-top: 1rem;
  font-size: 14px;
  text-align: center;
  line-height: 1.3;
  font-weight: 400;
  cursor: pointer;
}

.modal-privacy {
  font-size: 0.65rem;
  text-align: center;
  line-height: 1;
  width: 100%;
}

.mail-popup {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0.5rem 1rem 1rem;
  margin: 2.5rem 0.5rem 0 0.5rem;
  box-sizing: border-box;
  background: #fff;
  height: 100%;
  box-shadow: 0 0px 5px 0 var(--secundary-color);
  border-radius: 4px;

  .mail-popup-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    opacity: 0.2;
    color: var(--secundary-color);
    width: 100%;
    margin: 1rem 0;
  }
}
</style>
