<template>
  <div class="info-container">
    <div class="info-heading">
      {{ $t("impress") }}
    </div>
    <BaseParagraph class="info-content" v-html="poll.pollImpress"></BaseParagraph>

    <div class="info-heading">
      {{ $t("tech-support") }}
    </div>
    <BaseParagraph class="info-content"
      ><a :href="`mailto:${poll.pollSupport}`">{{ poll.pollSupport }}</a></BaseParagraph
    >

    <div class="info-heading">
      {{ $t("privacy") }}
    </div>
    <BaseParagraph
      v-if="poll.pollSuccessButton == 'SEND_MAIL'"
      class="info-content"
      v-html="poll.pollPrivacy"
    >
    </BaseParagraph>
    <BaseParagraph v-else class="info-content"
      >Es werden keine personenbezogenen Daten gespeichert</BaseParagraph
    >
  </div>
</template>

<script>
// import BaseParagraph from "../atoms/BaseParagraph";

export default {
  name: "info",
  props: ["poll"],
  // components: { BaseParagraph },
}
</script>

<style lang="scss" scoped>
.info-container {
  margin: 0 !important;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap !important;
  overflow-y: scroll;
  height: 100%;
  max-height: 400px;
  width: 100%;
  text-align: center;
}

.info-heading {
  margin: 24px 0 0.25rem 0 !important;
  font-size: 1rem;
  font-weight: 600;
}

.info-content {
  /deep/ img {
    max-width: 200px;
    max-height: 200px;
    margin: 1rem 0;
  }

  /deep/ p {
    margin: 0;
  }

  /deep/ a {
    color: var(--text-color);
    text-decoration: underline;

    &:hover {
      color: var(--secundary-color);
    }
  }
}
</style>
