<template>
  <div class="completion-action-input">
    <el-form-item label="Nachricht in Bestätigungs-Mail">
      <br />
      <RichTextEditor
        name="mailHeader"
        v-model="pollStore.activePoll.pollEmailHeader"
        :editorToolbar="emailActionToolbar"
        :maxLength="500"
        placeholder="Leer lassen, wenn nicht benötigt."
      />
    </el-form-item>
    <el-form-item label="Teilnahmebedingungen">
      <br />
      <RichTextEditor
        name="participationTerms"
        v-model="pollStore.activePoll.pollParticipationTerms"
        :editorToolbar="emailActionToolbar"
        :maxLength="2500"
        placeholder="Leer lassen, wenn nicht benötigt."
      />
    </el-form-item>
  </div>
</template>

<script>
import { mapStores } from "pinia"
import { usePollStore } from "@/stores/polls"

import RichTextEditor from "@/components/RichTextEditor"

export default {
  name: "CompletionActionInputMail",
  components: {
    RichTextEditor,
  },
  computed: {
    ...mapStores(usePollStore),
  },
  data() {
    return {
      emailActionToolbar: [
        ["bold", "italic"],
        ["link"],
        [{ script: "super" }],
        [{ list: "bullet" }, { list: "ordered" }],
      ],
    }
  },
}
</script>

<style lang="scss" scoped>
.completion-action-input {
  width: 400px;
  margin-right: 2rem;
}
</style>
