<template>
  <div v-if="tierStore.tier.accountActive">
    <el-form-item label="Verfügbare Aktionen"
      ><br />
      <el-select v-model="pollStore.activePoll.pollSuccessButton" placeholder="Suche">
        <el-option
          v-if="tierStore.tier.endActions.includes('BACK')"
          label="Keine Aktion"
          value="BACK"
        ></el-option>
        <el-option
          v-if="tierStore.tier.endActions.includes('REDIRECT')"
          label="Weiterleitung"
          value="REDIRECT"
        ></el-option>
        <el-option
          v-if="tierStore.tier.endActions.includes('SEND_MAIL')"
          label="E-Mail-Adresse abfragen"
          value="SEND_MAIL"
        ></el-option>
      </el-select>
    </el-form-item>

    <Hint :contentType="completionActionType" />
  </div>
</template>

<script>
import { mapStores } from "pinia"
import { usePollStore } from "@/stores/polls"
import { useTierStore } from "@/stores/tier"

import Hint from "@/components/Hint"

export default {
  name: "CompletionActionSelector",
  components: { Hint },
  data() {
    return {}
  },
  computed: {
    ...mapStores(usePollStore, useTierStore),

    completionActionType() {
      switch (this.pollStore.activePoll.pollSuccessButton) {
        case "SEND_MAIL":
          return "end-action-send-mail"
        case "REDIRECT":
          return "end-action-redirect"
        case "BACK":
          return "end-action-back"
      }
    },
  },
  methods: {},
}
</script>

<style lang="scss" scoped></style>
