<template>
  <div>
    <el-form-item label="Weiterleitung: Button Text">
      <el-input maxlength="50" show-word-limit v-model="pollStore.activePoll.pollRedirectBtnText" />
    </el-form-item>
    <el-form-item style="margin-top: -1rem" label="Weiterleitung: Link-Adresse">
      <el-input maxlength="200" show-word-limit v-model="pollRedirectUrl" />
    </el-form-item>
  </div>
</template>

<script>
import { mapStores } from "pinia"
import { usePollStore } from "@/stores/polls"

export default {
  name: "CompletionActionInputRedirect",
  computed: {
    ...mapStores(usePollStore),

    pollRedirectUrl: {
      get() {
        return this.pollStore.activePoll.pollRedirectUrl
      },
      set(value) {
        let tempValue = value
        let match = value.match(/https?:\/\//g)
        if (!match) {
          tempValue = "https://"
        } else if (match.length > 1) {
          tempValue = tempValue.slice(8)
        }
        this.pollStore.activePoll.pollRedirectUrl = tempValue
      },
    },
  },
}
</script>

<style lang="scss" scoped></style>
