<template>
  <div class="completion-container">
    <span class="completion-header">Abschluss Aktion</span>
    <el-form class="completion-actions">
      <CompletionActionSelector />

      <CompletionActionInputRedirect v-if="pollStore.activePoll.pollSuccessButton === 'REDIRECT'" />
      <CompletionActionInputMail v-if="pollStore.activePoll.pollSuccessButton === 'SEND_MAIL'" />
    </el-form>

    <span class="completion-header">Abschluss Nachrichten</span>
    <div class="completion-messages">
      <CompletionMessage name="missing" />
      <CompletionMessage name="success" />
    </div>
  </div>
</template>

<script>
import { mapStores } from "pinia"
import { usePollStore } from "@/stores/polls"

import CompletionMessage from "./CompletionMessage"
import CompletionActionSelector from "./CompletionActionSelector"
import CompletionActionInputRedirect from "./CompletionActionInputRedirect.vue"
import CompletionActionInputMail from "./CompletionActionInputMail.vue"

export default {
  name: "Completion",
  components: {
    CompletionMessage,
    CompletionActionSelector,
    CompletionActionInputRedirect,
    CompletionActionInputMail,
  },
  computed: {
    ...mapStores(usePollStore),
  },
}
</script>

<style lang="scss" scoped>
.completion-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 1rem 0 1rem 0;

  .completion-header {
    font-size: 1.17rem;
    font-weight: 600;
  }

  .completion-messages {
    display: flex;
  }

  .completion-actions {
    margin-top: 1rem;
  }
}
</style>
